[2016-09-21 13:27] fhaverkamp opened #2 "Enable ci build checking using travis"
Let us enable the automatic software build check setup.

[2016-10-06 17:10] #2 closed, assigned to nobody

[2016-10-07 15:42] ibm-genwqe opened #15 "libdonut: Rename donut calling functions (proposal)"
Hi, all,
i propose to change the "dnut_" functions to something called like "dnx_" for  <donut_exchange> this
sound better for me. So we keep only 3 letter and will stay somhowe like capi where they use "clx".
This will than also result in renaming our lib to "libdnx"

[2016-10-12 14:50] fhaverkamp opened #19 "libdonut: Underlinkage"
When dynamically linking libdonut, the -lcxl is missing, which leads to under linkage. This is not noticed yet, since we use sim and link statically libcxl from the pslse package. And we add the missing -lcxl to the application link step, but that is wrong. The applications must just link against libdonut.

[2016-10-21 08:57] fhaverkamp opened #33 "simulation: Tidy up PSLSE_DIR and PSLSE_ROOT"
We seem to have multiple of those ... I wonder if that makes sense or if we should decide for one and that's it.

dyn-9-152-98-168:software haver$ git grep PSLSE_ROOT
Makefile:ifdef PSLSE_ROOT
Makefile:# environment variable PSLSE_ROOT defined by hardware setup scripts
Makefile:PSLSE_DIR = $(PSLSE_ROOT)
Makefile:# use default path if PSLSE_ROOT is not defined
config.mk:ifdef PSLSE_ROOT
config.mk:#

[2016-11-04 14:31] fhaverkamp opened #36 "demo_search/demo_memcopy: Please remove need for circumvention"
#if 1 /* Circumvention should go away */
        pr_info("FIXME Wait a sec ...\n");
        sleep(1);
#endif
#if 1
        pr_info("FIXME Temporary setting to define memory base address\n");
        dnut_kernel_mmio_write32(kernel, 0x10010,0);
        dnut_kernel_mmio_write32(kernel, 0x10014,0);
        dnut_kernel_mmio_write32(kernel, 0x1001c,0);
        dnut_kernel_mmio_write32(kernel, 0x10020,0

[2016-11-04 14:33] fhaverkamp opened #37 "demo_search: Finding 1024 out of 1024 Xs required"
D   dnut_kernel_sync_execute_job: i=19 data=0
R   hw_dnut_mmio_read32(0x11fd410, 10160, 0) 0
D   dnut_kernel_sync_execute_job: i=20 data=0
R   hw_dnut_mmio_read32(0x11fd410, 10164, 0) 0
D   dnut_kernel_sync_execute_job: i=21 data=0
sjob:         0x7fff60151f10
RUN:          0000000f/15
RETC:         00000102
Input Data:   00000000011fd21f - 00000000011fd401
Output Data:  00000000011ff000 - 0000000

[2016-11-09 10:23] #37 closed, assigned to bmesnet

[2016-11-09 13:44] fhaverkamp opened #39 "demo_memcopy: Fails when comparing the output data"
haver@tul2eth3:~/donut/software$ make test_hardware
./scripts/donut_tests.sh
Trying demo_search ... ok
Searching X in 1024 bytes ... ok
Check results ... ok
Searching more X ... Check results ... ok
Doing demo_memcopy (aligned)... ok
Check results ... failed
  examples/1KiB_A.bin examples/1KiB_A.out are different!
Makefile:87: recipe for target 'test_hardware' failed
make: *** [test_hardware] Erro

[2016-11-15 09:52] fhaverkamp opened #40 "simulation: Sleep 1 sec (for simulation) must be removed!!"
This circumvention must go away!!

   	if (cxl_mmio_map(dn->afu_h, CXL_MMIO_BIG_ENDIAN) == -1)
     		goto __dnut_alloc_err;

    +	/* TEMPFIX JK: Wait to get action reset done */
    +	usleep(1000*1000);	// wait one second
    +//	gettimeofday(&stime, NULL);
    +//	do {gettimeofday(&etime, NULL)} while (timediff_usec(&etime, &stime) < timeout_sec * 1000000);

There is one delay more in demo_*.c

[2016-11-16 14:19] joergkayser opened #41 "demo_memcopy: AERROR leads to hang"
demo_memcopy is using addresses outside of the allocated memory range.
If this happens during a partial cachline write request, then the donut code receives AERROR and tries in an endless loop to recover from this scenario with ST_RESTART. This leads to a software timeout
see /afs/bb/proj/fpga/framework/jkayser/donut_opencl/hardware/sim/ies/20161116_143618/

[2016-11-18 14:12] fhaverkamp opened #42 "bitstream build: debug.ctx falsely required"
https://hdcl070.boeblingen.de.ibm.com:8080/job/SNAPBuildBitstreams_for_OpenCL/21/console

The build broke searching for a missing file. Sven identified already the reason for the break. Fix is under way.

[2016-11-21 08:27] #42 closed, assigned to boekholt

[2016-11-23 11:25] bmesnet opened #44 "job interface: MMIO output register cannot be contiguous to MMIO input register"
MMIO input register is a 128 bytes (16B+112B) structure starting at address 0x080 and ending at address 0x0FC.
MMIO output register is a 128 bytes (16B+112B) structure that needs to start at address 0x100 since return code is expected at 0x104.
**HLS requires a reserved address** after the MMIO input register meaning that **address 0x100 is reserved.**
Implementation today is that MMIO output regi

[2016-11-24 13:26] fhaverkamp opened #45 "demo_memcopy: Add tests for transferring data at non-aligned start-addresses"
Just a reminder, that we need to add this. The iteration, when this is required, is not yet defined.

[2016-12-05 10:30] #33 closed, assigned to fhaverkamp

[2016-12-05 12:45] fhaverkamp opened #51 "libdonut: Implement request and completion queue support (single AFU context)"
Issue a request on the request queue, grab the result on the competition queue.

Depends: Design and hardware implementation readiness

[2016-12-05 12:47] fhaverkamp opened #52 "libdonut: Fixed assignment mode (single action)"
Request exclusive access to FPGA action.
Free after usage.
Do MMIO

[2016-12-05 12:50] fhaverkamp opened #53 "libdonut: Fixed assignment mode (interrupt support)"
Assign action to AFU context. Enable/disable interrupt and check that it is working correctly.

Depends: Design  & example hardware configuration to trigger at least one, better multiple different interrupts allowing to check correctness of implementation.

[2016-12-05 12:52] fhaverkamp opened #54 "libdonut: Fixed assignment mode (multiple actions)"
Enhance single action operation to multiple actions at the same time. This is enabling multi-process usage.

Depends: Hardware implementation

[2016-12-05 12:54] fhaverkamp opened #55 "libdonut: Implement request and completion queue support (multiple AFU contexts)"
Expand single AFU context to multi context usage.
Code should be there already, we need some stress test-cases to check if hard and software are 100% stable when using multi-contexts.

We can use this to put together some statistics about AFU-context usage as we did for GZIP.

Depends: Hardware example implementation

[2016-12-05 13:16] fhaverkamp opened #56 "libdonut: Jobqueue design and register interface"
How do we need to setup the request and completion queue?
How is the interrupt working?
And most importantly, which registers need to be setup how?

Depends: Find some time
Outcome: Design documentation needed to start implementation of hard- and software

[2016-12-05 13:19] fhaverkamp opened #57 "demo_hashjoin: Implement and performance analysis"
Bruno already started the base ideas and found some example code, which we might reuse.
@bmesnet Put some more info as needed. I wanted to document what is currently going on, such that we get a better overview about the tasks. @jsvogt feel free use use it in the project view to show when/how it is going to be done.

Depends: DRAM Support, FPGA Action integration

[2016-12-05 13:22] fhaverkamp opened #58 "libdonut: Action statistics/performance counters"
I think it might be useful to have something, which could even be used by potential exploiters.
It might rather be a low-prio one, but I think we should not forget it.

Maybe things like:
* MiB/sec per action
* Action in use or not
* ...

Feel free to add some thoughts.

[2016-12-05 13:24] fhaverkamp opened #59 "NVMe: Action design and implementation"
We would need an example action, once the NVMe core is build into the hardware.

* User-interface (source -> action -> destination)
* Example Implemenation
* Testcase
* Performance measurement and analysis

[2016-12-05 15:21] #19 closed, assigned to fhaverkamp

[2016-12-06 10:54] fhaverkamp opened #62 "stage2: Add to automated jenkins testing"
You might use SNAPTryMemcopy as example and add stage2 with its various options to the automated regression testing, please.

[2016-12-08 10:18] #62 closed, assigned to ibm-genwqe

[2016-12-08 10:31] ibm-genwqe opened #64 "Image psl_fpga_intDDR_1207-180.bin Test Fails"
I run "stage2" tests on KU3 hardware (tul2 test machine) after loading Binary code

- psl_fpga_intDDR_1207-180.bin

Action 2 (Host -> Host) is working without any problems
Action3 (Host -> DDR) is not stable and i get Timeout's waiting for "IDLE" when increasing the Size
e.g: "stage2 -a3 -S64 -v" which is 64 x 4 KB. The Card hangs after the timeout and i have to Hard reset.

[2016-12-13 13:45] jsvogt opened #67 "DMA Overrun: DMA returns too much data"
DMA returns too much data for half cache lines.

[2016-12-13 14:03] jsvogt opened #68 "Integration: Image build with DDR sometimes fails"
No reason found yet. Seems to depend on Xilinx Vivado => follow up with Xilinx

[2016-12-13 14:08] jsvogt opened #69 "Image test: After reset sometimes 64 bytes are 'swapped'"
Memcopy testing (host-host, no matter if VHDL memcopy or HLS memcopy code) sometimes swaps the two 64 bytes halfes within a 128 byte cache line.
Resetting the card multiple times seems to clear things again.
Suppose the bug is in the DMA or AXI shim logic, as it doesn't depend on which AXI master drives the transfer.

[2016-12-13 14:26] jsvogt opened #70 "XSim elaboration fails with on-card DRAM [Vivado dependency]"
Xilinx XSIM modelbuild still fails on models with DDR3 RAM and gates the merge into the master branch. Vivado 2015.4 failed with VRFC 10-327 array size is larger than 2**31
Vivado 2016.3 fails with a memory leak described in SR10375645 and SR10377642.

[2016-12-20 15:05] joergkayser opened #78 "Cadence IES 15.10.s19 hangs waiting to get shared lock"
AFS flag 'k' is not set for system:anyuser on some selected directories within the Cadence 15.10 installation in CTE. Mail sent to Izzy Bendrihen to add the flag

[2016-12-22 10:20] ThomasFuchs opened #80 "mmio controled afu_reset"
Please add a possibility to reset the AFU (afu_reset) by a mmio write

[2016-12-23 09:48] boekholt opened #85 "XSim simulation fails with ddr3 sdram model"
Simulation with ddr3 sdram model (based on the patched dimmtest model) fails with the error message:

`ERROR: File: /afs/vlsilab.boeblingen.ibm.com/proj/fpga/framework/cards/dimm_test-admpcieku3-v3_0_0_xsim/fpga/lib/ddr3_sdram_model-v1_1_0/src/ddr3_sdram_data_sv.sv Line: 280 Accessing non-static members of a null object is not allowed.`

[2017-01-10 15:03] bmesnet opened #91 "Master branch first installation: enhancements"
1) Some minor changes in **hardware/Makefile** :
at section clean :
=> use **rm -r -f** instead of **rm -rf**
=> use **rm -f ./setup/*.log** instead of **rm -f ./*.log**
=> use **rm -f ./setup/*.jou** instead of **rm -f ./*.jou**

2) Shouldn't it help user if we list somewhere all the different variables to be set on a generic environment **(donut_settings)**?
_(On OpenCL branch I was using the fo

[2017-01-11 13:18] fhaverkamp opened #94 "Configuration Management (for builds)"
We now defined two version registers to identify which version of the SNAP vhdl has been used to build the bitstream. Since the SNAP framework is configurable to some extend, the code version alone is not sufficient to understand which exact configuration has been used. To close the gap we need to know how the code was configured and which features got enabled.

E.g.
[code]
And a CONFIG_REGISTER o

[2017-01-11 14:12] #69 closed, assigned to ReinerRieke, ThomasFuchs

[2017-01-11 14:13] #78 closed, assigned to joergkayser

[2017-01-11 14:15] #40 closed, assigned to jsvogt, fhaverkamp, joergkayser, ReinerRieke

[2017-01-11 14:17] fhaverkamp opened #95 "jenkins: Automatically test bitstream on real hardware"
We need a box and we might start without flashing the card. Just taking what is there and running a few tests on the available card.

[2017-01-11 16:28] joergkayser opened #96 "NVMe: ncsim reports TRZGCOC: Possible zero-delay gate oscillation detected"
usual debug procedure 'drivers -active' doesn't work and just reports: [Protected]
Cadence tickets filed: 46066272 (Ishan) and 46068020 (Joerg)

[2017-01-12 15:15] ibm-genwqe opened #99 "FGT: System reports no CAPI card after Flash update"
I loaded "fw_master_noDDR3_0110_049_fgt.bit" into Flash GT card over JTAG Debugger after Power on (VIVADO 16.04 LAB). The FGT Card appears as a CAPI card as expected after Linux gets loaded.
Running "stage2 -a2" to test Host -> Host DMA was successful.
Next step was to flash the bin file. "sudo ./flash_FGT fw_master_noDDR3_0110_049_fgt.bin 0"
This was also ok.
Than i reset the card "echo 1 > /sys/

[2017-01-12 16:18] joergkayser opened #100 "ncsim/irun generated with Vivado 2015.4 has no AET signals"
irun generates an AET, but no signals are accessible.
need ncelab option '-access +rwc', which should be provided by Xilinx before export_simulation.
But Xilinx 2015.4 only adds this ncelab option to ncsim (3step) and not to irun (1step)
I confirmed with @ThomasFuchs, that we should default the Simulator to ncsim in Viv2015.x and to irun in Viv2016.x. This is done in $FRAMEWORK_ROOT/ibm_settings*

[2017-01-13 09:24] ReinerRieke opened #101 "top.sh under Cadence/ncsim 2015.4 doesn't abort on compile error"
Hello Joerg, please can you change/patch top.sh  for Cadence/ncsim  in a way that it aborts when it detects a compile error.
Thanks!

[2017-01-16 06:22] luyong6 opened #104 "master branch: vivado 2016.2/2016.4 ncsim simulation: top module is not properly assigned"
`ncelab: *E,NOUNIT: Unable to find a unit named 'xil_Defaultlib.top' in the libraries.`
`ncelab: *E,MTOMDU: More than one unit matches 'glbl':`
`     module worklib.glbl:v (VST)`
`     module xil_defaultlib.glbl:v (VST)`

[2017-01-16 10:53] #101 closed, assigned to ReinerRieke

[2017-01-16 12:38] #67 closed, assigned to jsvogt

[2017-01-17 09:15] ibm-genwqe opened #106 "FPGA image 0.6.0 fails after flash update"
I loaded "fw_0.6.0_0109-000_ku3.bin" And run stage2 test script.
The test fails when i run "./tools/stage2 -a 2 -A 64 -C 0 -S 32 -B 0"
when the test tools frees up the destination buffer. This problem seems to go away when i flash the card again with the same image.

[2017-01-17 13:51] ibm-genwqe opened #107 "FPGA image 0.6.0 fails"
Test "./tools/stage2 -a 6 -A 1024 -C 0 -S 1 -B 1 -v" and follow with
"./tools/stage2 -a 6 -A 1024 -C 0 -S 1 -B 2 -v" fails with timeout
Image "fw_0.6.0_0115-000_ku3.bin"
Reading Version:
dnut_peek 0 = 00060020fec8fa35
dnut_peek 8 = 0000201701151647

[2017-01-17 14:12] fhaverkamp opened #108 "build: make clean failed, synthesis running after "make config model" completes with success"
I ran into a situation where '''make clean''' was complaining about files in use. This was called by a synthesis background process still running after '''make config model''' was completed.

I suggest to decouple this. Maybe make a synthesis target. Potentially change the image target to check if there was a successful synthesis done before and use its results (just like make works), if not do sy

[2017-01-17 15:35] fhaverkamp opened #109 "HLS with SNAP Howto: Simple docu for beginners"
* Frank: Connection host/action, prepare/define SNAP job
* Bruno: Examples tidy up, MMIO interface to receive job
   How to generate vhdl from C/C++ HLS code automtically?

[2017-01-17 15:43] fhaverkamp opened #110 "Desire: Have our simple HLS examples within our donut git and autogenerate vhdl as needed"
I think it would be really nice, if we could include our HLS examples in our donut.git. This would tremendously help to get the example builds simpler. Having the external snap-examples.git is too complicated I believe. I think a Makefile rule to generate the VHDL is a good idea too. That way we do not need to check the autogenerated stuff in.

Bruno, let us discuss if it is possible to get someth

[2017-01-18 12:58] #107 closed, assigned to ThomasFuchs

[2017-01-18 16:29] KennethWilke opened #114 "Error building v0.6.1 tag with Vivado 2016.4"
Howdy,

I'm trying to build the memcpy example for the KU3 with Vivado 2016.4, and am running into errors during the synthesis of 'psl_fpga'. Below is the results of my `make` attempt

[code]

[2017-01-18 17:49] joergkayser opened #115 "Cadence IES 15.10 partially installed in IBM AFS BOE"
/afs/bb/proj/cte/tools/cds/Incisiv/15.10.s19/vola is empty
CQ HW400903 written

[2017-01-19 08:29] #100 closed, assigned to joergkayser

[2017-01-19 09:02] #104 closed, assigned to luyong6

[2017-01-19 18:41] bmesnet opened #118 "performances : DMA writes to memory not efficient"
I'm using master branch and doing a memcopy of 3201 bytes from host to internal buffer and then back to host memory
PARAMETERS:
  input:       ../../data_in.bin
  output:      ../../data_out.bin
  type_in:     0 HOST_DRAM
  addr_in:     00002adc1384e000
  type_out:    0 HOST_DRAM
  addr_out:    0000000000df5000
  size_in/out: 00000c81         => 3201 bytes
  mode:        00000000

I'm transferring

[2017-01-20 16:22] joergkayser opened #120 "demo_memcopy fails with >80B, when executed mult times"
SNAP code: master fd3fd0f 2017-01-20 09:56:36 +0100
Vivado=2016.4, IES=15.10.s19, SIMULATOR=irun,
DDR_USED=TRUE
DIMMCARD=adku060_capi_1_1_release
DIMMTEST=dimm_test-admpcieku3-v3_0_0
ACTION_ROOT=hls_memcopy/vhdl

simulator call=  ./run_sim -list testlist.sh
test loop:
for size in 2 8 16 64 128 256 512 1024; do # 64B aligned
  rm /tmp/t${size}c; dd if=/dev/urandom of=/tmp/t${size} bs=${size} count=

[2017-01-23 12:31] #91 closed, assigned to boekholt

[2017-01-23 20:37] bmesnet opened #121 "demo_memcopy fails when 2x 1024B is sent under the same simulator session"
Same case than demo_memcopy fails with >80B, when executed mult times #120
using loop **for size in 1024 1024**;
Error when 2x 1024B transfers found : it is due to an unexpected read of the internal buffer (see top/a0/buf_gmem_V_ce0) after first transfer. Correction done by replacing the kernel.cpp line105
L0:for ( i = 0; i < nb_blocks_to_xfer; i++ ) {
by :
L0:while(action_xfer_size >  0) {
This m

[2017-01-24 14:18] joergkayser opened #122 "wrong relative path in file_info.txt after export_simulation [Vivado dependency]"
files in /hdl have the wrong relative path in file_info.txt  (two parent indirections .. too much)
files *.prj and run.f are correct. SR 10383832 sent to Xilinx

[2017-01-24 14:22] joergkayser opened #123 "signals *fsm* missing in XSIM waveform"
VCD format used to be analyzed with Cadence simvision. This AET is lacking some signals.
Mail sent to Xilinx, SR 10383835 opened to Xilinx

[2017-01-24 14:27] joergkayser opened #124 "timeout in stage2 -a2 (and -a6) in XSIM simulation"
this occurs with Vivado 2016.4 for xsim in RH6 and RH7 machines.
ncsim/irun works fine for the same model
see ~jkayser/donut_tf_bram2016/hardware/sim/xsim/20170124_111826

[2017-01-24 16:43] #115 closed, assigned to joergkayser

[2017-01-26 12:30] fhaverkamp opened #126 "action_type: Please define MMIO register (addr) where the action can return its type"
Hi Sven,

Bruno and I would like to read back the action_type on an MMIO address to check if it is worth while doing some testing. Since we like to have that anyway, could you find a freee MMIO address for Bruno to put such an information, please?

Thanks

Frank & Bruno

[2017-01-26 16:38] #68 closed, assigned to jsvogt

[2017-01-27 09:01] #64 closed, assigned to boekholt, ReinerRieke, ThomasFuchs

[2017-01-27 13:10] ThomasFuchs opened #128 "Improve make config flow"
Please review the make config flow. It is not clear what are the different files doing and why. I think this could be clearer.

[2017-01-27 13:10] #39 closed, assigned to fhaverkamp

[2017-01-27 13:13] ThomasFuchs opened #129 "Setup a customer default setup environment"
We should setup an environment that simulate and test the costumer default setup.

XSIM=TRUE
DDR3=TRUE.....

[2017-01-27 13:18] fhaverkamp opened #130 "demo_search: Hardware and Software results differ since only char and not str-search was implemented"
Today I have build a KU3 bitstream myself using the Jenkins setup. I tried this out and found that it behaves differently compared to the software simulation enabled with DNUT_CONFIG=0x1.
Please have a look and help figuring out why the hardware finds more "dnut" compared to software.

Bitstream Build:
https://hdcl070.boeblingen.de.ibm.com:8080/view/SNAP/job/SNAP_IMG_KU3_Search/

[code]

[2017-01-27 14:31] fhaverkamp opened #133 "demo_memcopy: Using large buffers e.g. 1 GiB kills the host-machine"
I tried 1024 * 1024 * 1024 as buffer size and that killed the host system. I needed to use the FSP to reset the host-system. I used the current master without the new changes by Thomas.
Checkout software/scripts/donut_tests.sh and use the memcopy test, change the size to something really large and see what happens.

[2017-01-30 13:57] fhaverkamp opened #134 "ncsim: Not working since last master update"
All Jenkins SNAP test cases for master branch fail at this point in time.
pslse and ncsim seem not setup correctly for our Jenkins test case execution.

file: ../../ip/ddr3sdram/rtl/cal/ddr3_v1_3_dp_AB9.sv
	module work.ddr3_v1_3_1_cfg_mem_mod:sv
		errors: 0, warnings: 0
	module work.ddr3_v1_3_1_bram_tdp:sv
		errors: 0, warnings: 0
file: ../../ip/ddr3sdram/rtl/ip_top/ddr3sdram.sv
	module work.ddr3s

[2017-01-31 09:54] #124 closed, assigned to joergkayser

[2017-02-03 08:09] #134 closed, assigned to joergkayser

[2017-02-03 08:15] #123 closed, assigned to joergkayser

[2017-02-03 08:29] #108 closed, assigned to ThomasFuchs

[2017-02-03 11:36] ibm-genwqe opened #139 "Memory Free fails"
It can happen that we get the same address wehn we free and alloc Host Memory.
We did see free() errors (panic) and Memory overwrites in for this setup.
I provided a workaround in " stage2_ddr" test.
Root cause is not fully understood. I expect more debug from PSL or CXL.

[2017-02-03 11:38] ibm-genwqe opened #140 "FGT: Block Ram write or Read wrong"
Image "fw_int_DDR4_5444_BRAM_0203-264_fgt" test results:
-a2 is ok
-a6 reports data error
00000000: c0 0f 00 00 3f f0 ff ff c8 0f 00 00 37 f0 ff ff | ............7...
 00000010: d0 0f 00 00 2f f0 ff ff d8 0f 00 00 27 f0 ff ff | ................
 00000020: e0 0f 00 00 1f f0 ff ff e8 0f 00 00 17 f0 ff ff | ................
 00000030: f0 0f 00 00 0f f0 ff ff f8 0f 00 00 07 f0 ff ff | ................

[2017-02-03 15:04] ibm-genwqe opened #142 "FGT: Timeout when using Block Ram"
Image "fw_int_DDR4_5444_BRAM_0203-062_fgt" Option a6 Timeout.

[2017-02-06 08:47] #140 closed, assigned to nobody

[2017-02-06 08:47] #142 closed, assigned to nobody

[2017-02-07 13:06] #118 closed, assigned to ThomasFuchs

[2017-02-07 19:57] zrlpol opened #146 "Release archives cannot be built"
Because the VHDL patch mechanism relies on being run within a git repository the build process does not work when using the archive files provided with the releases!

Currently the only place I see that causes a serious fail is the version patching for mmio.vhd

There are other "fatal" git errors but these seem not to bother.

[2017-02-08 17:39] #114 closed, assigned to ThomasFuchs

[2017-02-10 08:06] #146 closed, assigned to nobody

[2017-02-10 08:07] #106 closed, assigned to ThomasFuchs

[2017-02-21 08:38] fhaverkamp opened #148 "HashJoin: Bitstream build fails"
https://hdcl070.boeblingen.de.ibm.com:8080/view/SNAP/job/SNAP_IMG_KU3_HashJoin/60/console

Thomas said that building multiple times might help to get at least one working bitstream. Still this is not satisfying. He furthermore pointed out that changing the PSL integration method has high potential to really solve that problem, but those patches are currently under development. So we might need to

[2017-02-21 15:31] joergkayser opened #150 "irun + Stage2 -a6 -init0 fails; works without -init0"
Due to some investigation I used ncsim/irun -ncinitialize 0 on some testcases and realized, that
on model #149 we fail with some applications.
  run_sim -app tools/stage -a6            runs fine, see ~jkayser/donut_tfnohdk/hardware/sim/ies/20170221_161740
  run_sim -app tools/stage -a6  -init0  fails with mem compare error, see see ~jkayser/donut_tfnohdk/hardware/sim/ies/20170221_155834
 run_sim -

[2017-02-21 17:18] #121 closed, assigned to lisaliu1, bmesnet

[2017-02-22 07:39] luyong6 opened #151 "Simulation timeout at 1hour12min with the max 'timeout' number"
The timeout calculation in donut.c

```while (timediff_usec(&etime, &stime) < timeout_sec * 1000000);```

timeout_sec is uint32, and the MAX number is 0xFFFFFFFF (-1)
but timeout_sec*1000000 = 0xF423FFFF0BDC0
But I guess it is also treated as uint32,  FFF0BDC0us = 4293s

That's why my simluation can not run longer than 1hour12min, no matter how big "timeout" is set.

Need to add **long**(timeout_s

[2017-02-22 12:38] #110 closed, assigned to fhaverkamp, bmesnet

[2017-02-22 12:39] #151 closed, assigned to ibm-genwqe

[2017-02-22 12:40] #133 closed, assigned to boekholt, bmesnet

[2017-02-23 03:30] luyong6 opened #155 "RAS: Support for action abort and for killing an application needs to be implemented"
Hi,
I meet many "Bad Context Handle" interrupts from PSL when I downloaded my bfs bitstream to hardware.  This problem doesn't happen in PSLSE simulation. My guess is:

1) Because AFU descriptor says this is AFU-directed mode, (donut_types.vhd: ` REG_PROG_MODEL => x"0004", `)  so all PSL job command ha_jcom is 0x45 (LLCMD)
2) At this time, ha_jea will contain the information of PE_handle, ha_jea(4

[2017-02-27 09:00] #44 closed, assigned to lisaliu1, jsvogt, fhaverkamp, boekholt, ReinerRieke, bmesnet

[2017-02-28 08:35] #148 closed, assigned to ThomasFuchs

[2017-03-01 14:36] joergkayser opened #158 "ncsim -ncinitialize0 fails with DDR3"
ncsim allows to inittialize the model at startup (-ncinitialize 0/1).
Default init works, as well as ncinitialize 1
The failing pattern points to the DDR3 MIG (or DIMM), where the read words in itself are valid, but seem to come from wrong addresses.

SR10388096 written to Xilinx

[2017-03-01 14:39] joergkayser opened #159 "stage2 -a6 to DDR4 (FlashGT) fails in ncsim/irun, works in xsim"
no clue yet, how to analyze. Trying to compare two waveforms running on two viewers...

[2017-03-06 17:24] bmesnet opened #161 "Implement in SNAP a way to count how long an action takes"
To be able to measure performances, it could be helpful to have a way to count number of clocks between start and end of an action

[2017-03-08 08:10] fhaverkamp opened #165 "HLS Support: Allow smaller alignments than 64 bytes"
Currently we need to align writeable data to at least 64 bytes, since the AXI bus used as interface for action_wrapper is 512 bit wide. This imposes problems once 8 byte or even less should be written in host-memory where there might be important data (e.g. malloc stuff) before or after the buffer-address used. Whereas internally there are byte-enables possible for the PSL accessed memory, HLS cur

[2017-03-08 08:15] fhaverkamp opened #166 "HLS: PSL Cache: Consider providing cache enablement"
In HLS we are are currently buffering all data we use from the AXI bus. I wonder if that is what we longterm should do since it produces extra code, which might be solved with the Cache more elegantly. Furthermore, and I think this is worse, we do not use CAPI cache coherency if we act like this. So it is basically API or (C)API what we do here. Correct me if I should be wrong ...

So I suggest we

[2017-03-17 09:17] #126 closed, assigned to boekholt

[2017-03-17 09:23] #52 closed, assigned to fhaverkamp, ibm-genwqe

[2017-03-20 16:58] joergkayser opened #171 "SNAP branch=master: stage2_ddr and stage2_set hang in simulation"
Please check, if a double closing of the action with dnut_detach_action() causes the trouble.
The tempfix has not been merged with master, and all stage2_{set,ddr] testcases hang

[2017-03-24 08:05] ThomasFuchs opened #177 "BRAM timing looks bad"
KU3 BRAM=TRUE
    WNS(ns)      TNS(ns)  TNS Failing Endpoints  TNS Total Endpoints      WHS(ns)      THS(ns)  THS Failing     -------      -------  ---------------------  -------------------      -------      -------  ---------------------  ------------     -0.464       -8.020                     20               266413        0.026        0.000                      0               266339

FGT BRA

[2017-03-24 09:02] #177 closed, assigned to ThomasFuchs

[2017-03-24 10:16] fhaverkamp opened #179 "SNAP HLS Support: How to deal with interrupts, ContextID, AXI-User-bits and HLS to SNAP interfaces"
I think we urgently need a discussion how we need to adopt the SNAP to HLS interface regarding:
* Interrupts
* Dealing with AFU-conextids
* Offering SNAP functions in HLS context, e.g. sending an interrupt to the host or how to access NVMe storage, and maybe accessing a timer register

We see now those mechanisms going into the master git branch and Sven adding backward compatibility workarounds,

[2017-04-04 13:26] ibm-genwqe opened #185 "Memory Free Fails after capi-flash-script"
Scenario to reproduce:
1.) update KU3 with new bitstream using "capi-flash-script xxx.bin"
      - capi-flash-script reset's card after flashing e.g. (echo 1 > /sys/class/cxl/card0/reset)
      - Wait some sec
2.) run snap_maint to config Card
3.) run "./tools /stage2 -a2 -A64 -S8 -v"
     - Ends with "*** Error in `./tools/stage2': free(): invalid pointer: 0x00000100389301c0 ***"
3.) try same com

[2017-04-05 08:49] #139 closed, assigned to nobody

[2017-04-05 09:58] bmesnet opened #187 "HLS memcopy : 2 successive memcopy of 4K data or more fails"
Eberhard's test is to do 2 memcopy of 4K bytes of random data one after the other.
 _dd if=/dev/urandom of=t1 bs=4k count=1
 export DNUT_TRACE=0xff
 ../../../../software/tools/snap_maint -v
 ../../../../software/examples/demo_memcopy -i  t1 -o t2 -t 100  -v
 diff t*
 ../../../../software/examples/demo_memcopy -i  t1 -o t3 -t 100  -v
 ls -al t*
 diff t1 t3
 od -tx1 t3_

The first memcopy is ok mean

[2017-04-05 10:29] ibm-genwqe opened #189 "dnut-fix-4sw"
Fix following Problem's in Software.
1.) add message to snap_maint tool if the action id returns 0xffffffff
2.) Improve API for libdnut.
3.) Fix typo in examples

[2017-04-05 10:38] #187 closed, assigned to ThomasFuchs, bmesnet

[2017-04-06 09:56] joergkayser opened #192 "long simulation time with xsim and Xilinx DDR3 model"
We recently changed from the A_D DDR3 model to the Xilinx DDR3 model in order to
- get rid of xsim compilation errors seen in #70
- use the same vendor for DDR3 and DDR4 models
The Xilinx DDR3 model works fine so far, but it needs much more time to simulate with XSIM than it does with Cadence ncsim. Examples:
stage2 -a1 -s1 -e2 (a simple countdown, no access to DDR3) takes 4sec on ncsim, 3min30sec

[2017-04-07 07:50] #122 closed, assigned to joergkayser

[2017-04-07 08:03] #129 closed, assigned to joergkayser

[2017-04-07 08:05] #128 closed, assigned to joergkayser, boekholt, ThomasFuchs

[2017-04-07 08:10] #57 closed, assigned to fhaverkamp, bmesnet

[2017-04-07 08:19] #15 closed, assigned to ibm-genwqe

[2017-04-07 13:01] ibm-genwqe opened #194 "HLS: Setting MMIO Registers"
MMIO Registers 30/34, 40/44, 50/54 (see below)

- 0x030 + 0x034 => 64 bits for din_gmem port inititialization (Read/Write)
- 0x040 + 0x044 => 64 bits for dout_gmem port inititialization (Read/Write)
- 0x050 + 0x054 => 64 bits for d_ddrmem port inititialization (Read/Write)

Are written from HLS Software code at each program start (e.g. demo_memcopy)

I like to move this Int step's to "snap_maint"

[2017-04-18 03:23] luyong6 opened #200 "HLS: Cannot get Action_Register MMIO output"
In HLS code,  kernel.cpp,
[code]
These two lines: Software can get return code, which is in address 0x184, but cannot get result_size.
Here are two possible issues:
1) In include/donut_internal.h, `#define ACTION_JOB_OUT 0x110` which should change to 0x190 to get the content of Action_Register_o (See in hls_action_ctrl_reg_s_axi.vhd)

2) But even with this change, I still see 2 cycles of Action_Re

[2017-04-25 14:42] joergkayser opened #208 "branch=master: RC=16 in stage2 -a1"
FGT and KU3 fail in all configs (DDR, BRAM and noRam) with testcase=stage2 -a1 with RC=16
Branch=master 44fb438 2017-04-25
Please fix

[2017-04-26 08:56] fhaverkamp opened #210 "Build: Fix make clean such that autogenerated files are properly removed"
[code]

[2017-04-26 14:39] #208 closed, assigned to ibm-genwqe

[2017-04-26 14:40] #171 closed, assigned to ibm-genwqe, boekholt

[2017-04-28 06:41] joergkayser opened #216 "nvmeBU.py fails on FGT+BRAM, works on FGT+DDR4"
at the trace log "waiting for Identify to complete", the DRAM model returns after a few seconds:
completion code 9
Identify command completed
wrbuffer data word 4 : 144d144d
rbuffer data word 3 : 32313053
rbuffer data word 2 : 3231304e
rbuffer data word 1 : 36353433

The BRAM model waits forever, until it gets killed

[2017-04-28 10:24] #194 closed, assigned to bmesnet

[2017-04-28 10:27] #189 closed, assigned to nobody

[2017-04-28 11:42] #210 closed, assigned to ThomasFuchs

[2017-04-28 11:44] #58 closed, assigned to fhaverkamp, ibm-genwqe, boekholt

[2017-04-28 11:44] #36 closed, assigned to lisaliu1, jsvogt, fhaverkamp, bmesnet

[2017-04-28 11:49] #80 closed, assigned to boekholt

[2017-04-28 12:04] #161 closed, assigned to boekholt, ThomasFuchs

[2017-05-03 13:21] ibm-genwqe opened #220 "NVME: Add a tool to initialize NVME"
We are using "nvmeBU.py" to initialize PCIe Root complex and NVME drive 0 and 1. This setup will be converted to a "snap-nvme" tool.

[2017-05-04 08:12] luyong6 opened #221 "donut detach error at second time"
demo_interesect simulation timed out in master branch.
The problems seems to be in the **second** dnut_detach_action
[code]

In my testcase I will attach and detach action three times. (Step1, Step3 and Step5)
Step1 successfully finished. detach works correctly.
Step3 starts, and also successfully finished. I see the "RETURN RESULTS" which starts MMIO readout. It shows expected result.  `R   hw_dn

[2017-05-04 08:36] #200 closed, assigned to ibm-genwqe, bmesnet

[2017-05-04 11:53] #216 closed, assigned to ReinerRieke

[2017-05-05 13:08] joergkayser opened #225 "branch=RC_fixDetachAction, demo_memcopy -I -i 2B.in fails, wrong interrupt"
When calling following steps in branch=RC_fixDetachAction with hls_memcopy
  for size in 1 2 4 8 16 32 64;  demo_memcopy     -i ${size}.in -o ${size}.out -v -X -t50;done
  for size in 1 2 4 8 16 32 64;  demo_memcopy -I -i ${size}.in -o ${size}.out -v -X -t50;done
then demo_memcopy -I -i 2 fails

and the stimulus logfile (with DNUT_TRACE=0xFF) shows
D   hw_wait_irq: Enter fd: 4 irq: 4 mode: 0x5
D

[2017-05-08 08:42] luyong6 opened #230 "Align dnut_addr definition in hls_snap.H and software"
hls_snap.H is a common file used for HLS.
I suggest to make the names matching with software (both name and the capitalizaiton)
So when people are using them, they don't have to know "Retc" is for HW Action_Register and "retc" is for SW snap_job , and "address" is for HW and "addr" is for SW

[code]
SW include: donut_queue.h, libdonut.h
[code]

[2017-05-09 15:26] ibm-genwqe opened #234 "stage2_xx tools broken"
Seems like we forgot to test all tools.
I have to fix:
stage2_xx files

[2017-05-10 13:57] bmesnet opened #240 "HLS memcopy : reading XXX from DDR when not aligned size (different than 64B, 64kB,...)"
Test done on master branch.
Test is to move X bytes from Host to DDR and back from DDR to Host
test failure with X = 2,3,8,32,99
test success with X = 64, 64K
#!/bin/bash
      export DNUT_TRACE=0xff
      dd if=/dev/urandom of=t1 bs=1 count=8

      $DONUT_ROOT/software/tools/snap_maint -v
      $DONUT_ROOT/software/examples/demo_memcopy -vv -t2500 -I -i t1 -D CARD_DRAM -d 0x0
      $DONUT_ROOT/s

[2017-05-16 15:30] #225 closed, assigned to ibm-genwqe, boekholt, bmesnet

[2017-05-17 14:03] fhaverkamp opened #258 "stage2*: Name of test-tool should match the name of the action"
During discussion with some users we found that it is hard to understand for new users if the name of the test tool has nothing to do with the name of the action implemented in hardware.

So for the vhdl based memcpy, I suggest something alike for the test tool:
s/stage2/vhdl_memcpy/g maybe?

[2017-05-17 14:18] fhaverkamp opened #259 "action_job.h/H: Figure out a way how we can share the job description between sw and hw part"
We do not share the same job defines, which is creating a consistency problem in case of change:

    software/examples/action_search.h
    hardware/action_examples/hls_search/action_search.H

Those files should be the same.

[2017-05-17 19:02] kenhill opened #262 "a0h_paren: Driverless Net"
a0h_paren is left floating in the design. The current source is hardware/hdl/core/mmio.vhd:

-- debug (TODO: remove)
    ah_paren_mm_o          : OUT std_logic;

[2017-05-18 03:43] luyong6 opened #263 "HLS memcpy: address bits lost when using hls memcpy to copy only one 512bits word"
Today I found a bug maybe in Vivado HLS
If using
[code]
to transfer only 1 BPERDW, HLS synthesis result shows:
[code]

p_s_reg_151 (63 downto 0) has the correct full width address, but I don't know why tmp_2_fu_240_p4 will cut higher bits and send the address to m_axi_host_mem_ARADDR, and finally go to ah_cea.

Simulation on bb x86 server happen to pass, because higher bits (higher than bit37) are

[2017-05-18 06:23] luyong6 opened #264 "hls/action_wrapper.vhd need to change when setting SDRAM_USED=FALSE"
When an Action doesn't use DDR SDRAM, it can set SDRAM_USED=FALSE to save the FPGA area.
At this this time, psl_accel.vhd already removes the ports when instantiating
[code]
But hardware/hdl/hls/action_wrapper.vhd doesn't have a switch for SDRAM_USED=FALSE.
CARD_MEM0* ports are always there and leads to simulation model build fail.

Action kernel hls_action should also comment off the lines relate

[2017-05-18 06:26] #221 closed, assigned to fhaverkamp, ibm-genwqe, joergkayser

[2017-05-19 16:25] boekholt opened #271 "Parity issues on AFU interface to PSL"
We currently get parity errors, when we drive ah_paren with '1' and run the memcopy example.
This needs investigation and a fix.

[2017-05-20 07:12] #234 closed, assigned to nobody

[2017-05-22 09:25] bmesnet opened #273 "Build : display/set the HLS release used"
When doing a build (simulation or image), the compilation of the HLS can use a different release level than the Vivado release used for chip. The Vivado HLS release will grow much more quicker than the Vivado tool to take advantage of the bug corrections, and has no incidence on the build of the chip.
As this time the only way to do it is to pre-compile separately the HLS files before the build wi

[2017-05-22 12:19] #230 closed, assigned to fhaverkamp, bmesnet

[2017-05-22 12:19] #259 closed, assigned to fhaverkamp, ibm-genwqe, bmesnet, luyong6

[2017-05-22 12:58] #258 closed, assigned to ibm-genwqe

[2017-05-23 12:27] fhaverkamp opened #279 "HLS Build: Use FPGA chip from build system instead of hardcoding it"
[code]

This is clearly wrong. We should use the setting from our build-system.

[2017-05-23 14:28] jsvogt opened #280 "Storage location for simulation statistics"
in hardware/sim/run_sim, we had to comment the use of the $USERHOME environment variable, as it's no longer assigned by the noHDK branch RC_rm_HDK that is being merged today.
See https://github.com/open-power/donut/pull/277/commits/dd61209fe1ea4b4e2454bbbba9148bf020a97c34 for the changes.

Impact: No more statistics gathered.
Please implement in a different way.

[2017-05-24 12:04] #279 closed, assigned to lw0, fhaverkamp

[2017-05-24 12:18] #130 closed, assigned to bmesnet

[2017-05-24 12:18] #120 closed, assigned to lisaliu1, boekholt, bmesnet

[2017-05-24 12:24] bmesnet opened #285 "HLS 2017.1 issue when managing unconnected ports"
The case here is the management of an unconnected DDR port defined as
#pragma HLS INTERFACE m_axi port=d_ddrmem bundle=card_mem0 offset=slave depth=512
With exactly the same code, i compiled it with both HLS release
In **HLS 2016.4**, the synthesis was generating errors + warnings but was implementing some quite complex logic.
Connecting this unconnected port to out logic was done without any issu

[2017-05-24 16:08] jsvogt opened #287 "Building the image with NVMe doesn't work without DENALI set"
When building with NVME_USED=TRUE, snap_settings complains about missing DENALI environment variable for the Denali include directory
`### WARNING ### Setting of NVME_USED=TRUE but DENALI not set!`

It must be possible to build FPGA images with the NVMe host controller, even without a Denali environment.

[2017-05-26 09:49] ThomasFuchs opened #291 "SIM: suppress Model:WARNING: Reading unwritten address:"
A lot of warnings came up if we simulate with DDR3 or DDR4. Is it possible to "suppress" it?

[2017-05-29 17:44] jsvogt commented on #70
Re-test with Vivado 2017.1 needed, or close due to change to Xilinx MIG memory model?

[2017-05-29 17:46] jsvogt commented on #85
Re-test with Vivado 2017.1 needed, or close due to change to Xilinx MIG memory model?

[2017-05-31 08:32] joergkayser commented on #192
we probably have to live with this fact, and I dont see a chance to improve the xsim speed.
The testlist was reduced to get the test time down to <2h for this DDR3/4 xsim config

[2017-05-31 08:32] #192 closed

[2017-05-31 09:22] joergkayser commented on #291
I found Xilinx AR# 65732
MIG UltraScale DDR4/DDR3 - "Reading unwritten address" warnings seen in simulation
Description
In simulation, the following warnings from the Micron model might be given, even if the testbench does not read from unwritten address locations:
# Model:WARNING: Reading unwritten address: C:0 BG:0 B:0 R:0 C:6 dm:0 @11524.401 ns
Solution
These warnings are caused by the MIG peri

[2017-05-31 09:58] joergkayser commented on #240
@bmesnet, with branch=master hash=beadb7e 2017-05-30 I can confirm, that this error is gone. Do you want me to close the ticket ?

[2017-05-31 10:20] joergkayser commented on #159
after removing -ncinitialize x in the call to irun the simulation works.
Micron (the provider of the DDR4 nmodel) does not plan to support this option.
“The model uses ‘x as a don’t care and to check if a variable has been initialized (for example…after power up some things are ‘x). As I understand it, this option changes ‘x into random values. This really causes havoc with our ‘use x as don’t car

[2017-05-31 10:20] #159 closed

[2017-05-31 10:24] joergkayser commented on #158
We are currently not planning to use -ncinitialize with DDR3 models, and it also fails on DDR4 models, see SR#10388807.

[2017-05-31 10:24] #158 closed

[2017-05-31 10:25] joergkayser commented on #150
we dont plan to use -ncinitialize anymore on DDR3 and DDR4 models

[2017-05-31 10:25] #150 closed

[2017-05-31 10:26] joergkayser commented on #85
we changed to the Xilinx memory model and the error is gone

[2017-05-31 10:26] #85 closed

[2017-05-31 10:29] joergkayser commented on #70
xsim on DDR3 works, since we switched to the Xilinx/Micron memory model

[2017-05-31 10:29] #70 closed

[2017-06-01 05:14] ThomasFuchs commented on #287
it is part of the master branch

[2017-06-01 08:51] luyong6 commented on #264
This fix works already. Sorry to close it late.
However, Bruno had found another issue in vivado_hls 2017.1
Anyway, SDRAM_USED=FALSE works for vivado_hls 2016.4.

[2017-06-01 08:51] #264 closed

[2017-06-01 20:39] bmesnet commented on #240
In hls_search.cpp, write to DDR is done with 64Bytes aligned words to solve the issue

[2017-06-01 20:39] #240 closed

[2017-06-01 20:40] bmesnet commented on #179
Is there still a need to keep this issue opened ?

[2017-06-02 06:50] joergkayser commented on #287
As Simulation always needs DENALI set, I cannot really help with the validation of this issue. Let us do this in image build. Putting me off the assignee list

[2017-06-02 15:37] luyong6 opened #310 "HLS: Cannot understand the array in job descriptor"
In software/example/action_intersect.h, I defined intersect_job_t as:
[code]

Here NUM_TABLES=2.
Then in hardware/action_example/hls_intersect/action_intersect_hls.H
I included the above definition:

[code]

Everything seems good, and Action_Register_i in waveform takes the correct data.

But when I use `Action_Register->Data.src_tables_host[0].size` to get one field, I cannot get the correspondin

[2017-06-02 15:50] luyong6 commented on #310
I think this is, how to say, a weakness?
HLS is not good at data casting.

[2017-06-07 15:37] bmesnet opened #313 "snap_maint : display action release level"
when running command ./software/tools/snap_maint -C1 -v
Information on Action is the following :
   Short      Action Type
   0          0x10141000   HLS Memcopy
Could it be possible to display the **Release level** of the action which is read by snap_maint at the same time?
Thx

[2017-06-07 21:38] #271 closed

[2017-06-07 21:41] boekholt commented on #262
@kenhill Could you please close this issue, if you think my fix solves your problem?

[2017-06-07 22:42] #262 closed

[2017-06-09 15:03] joergkayser opened #315 "HLS_search: wrong results with snap_search"
working with branch=master and action=hls_search. I am creating a small file (random or uniform data)  of n bytes and search one char. Expect n hits on uniform data and 0..n hits on random data

for size in 1 2; do
  char=$(cat /dev/urandom|tr -dc 'a-zA-Z0-9'|fold -w 1|head -n 1)     # random char to search for
  cat /dev/urandom|tr -dc 'a-zA-Z0-9'|fold -w ${size}|head -n 1 >${size}.rnd   # random

[2017-06-09 15:20] kenhill opened #317 "Make Issues w/ HLS Examples"
`make config` skips over creating the RTL files from the HLS source

[2017-06-09 16:16] bmesnet commented on #315
Good corner case! I'll have a look to that

[2017-06-12 08:22] balthasar-m opened #318 "Doc: Document initial programming of a FGT card"
Before capi-utils can be used, the PSL has to be flashed manually to the FPGA via JTAG. Please document how this is done. It would be great, if this would also contain what images work (e.g. .bit or .mcs) and how to get a working one.

[2017-06-12 11:55] bmesnet commented on #263
Lisa opened problem CR-978469
Waiting for fix

[2017-06-12 23:31] boekholt commented on #317
Did the environment variable `$ACTION_ROOT` point to the resulting directory for RTL file generation?

[2017-06-12 23:40] boekholt commented on #287
I can confirm that image build with NVMe works now also in case `$DENALI` or other Denali related environment variables are not set.
@jsvogt please close this issue.

[2017-06-13 16:04] jsvogt commented on #287
Thanks, closing this issue.

[2017-06-13 16:04] #287 closed

[2017-06-13 16:10] kenhill commented on #317
No, I was setting `$ACTION_ROOT` to the hls_<action> directory.

Although this is a user error, adding a check for correctly formatted `$ACTION_ROOT` would be useful for HLS examples. Currently the `make config` does generate a Vivado project using create_framework.tcl, but the framework project includes all the HLS generated source code for vhdl, verilog, and systemc with an incorrect top level m

[2017-06-14 06:45] bmesnet opened #320 "HLS memcpy: multiple issues addressed to Xilinx"
Working this issue with Xilinx on a basic example. Waiting for feedback from them (Sergei)

The "basic" definition of our ports is done as follow:
#pragma HLS INTERFACE m_axi port=din_gmem bundle=host_mem offset=slave depth=512
and this gives by default 16 access per burst which means 1KB read or write per burst while AXI limit is 4KB.

Adding the max_read_burst to 32 works ok (some rare case of t

[2017-06-14 07:39] michaellass opened #321 "Porting SNAP to more devices"
Currently SNAP is supported for use with the Alpha Data KU3 and the Nallatech 250S. Are there plans or ongoing work on porting this to more devices such as the Alpha Data 7v3?

Would porting require a modified PSL checkpoint file for the target device or should SNAP work using the ones for the Alpha Data CAPI Design Kit as they are provided for the 7v3 and the 8K5?

[2017-06-14 21:53] bmesnet opened #323 "Hardware/README.md : correct reference to action_examples/memcopy"
Several times appears reference to ACTION_ROOT=$SNAP_ROOT/hardware/action_examples/memcopy
which doesn't exist anymore. Can you please correct it?
I guess it should be $SNAP_ROOT/hardware/action_examples/hdl_example
thx

[2017-06-19 13:12] boekholt commented on #317
@kenhill
Sorry for the delay (was on vacation last week).

We'll discuss the check for a correctly set up `$ACTION_ROOT` for HLS actions here in the team (we are aware that the whole setup for HLS actions is not nice).

I don't understand your issue regarding the incorrect top level module.
Are you talking about the case when `$ACTION_ROOT` is not set up correctly or about the case when it is set

[2017-06-19 14:49] bmesnet commented on #320
This issue was worked with Sergei from Xilinx who found a patch which has been checked ok.
A **defect number** will be opened shortly and will be associated to this issue.
Define ports as follow
#pragma HLS INTERFACE m_axi port=din_gmem bundle=host_mem offset=slave depth=512 \\
max_read_burst_length=64 max_write_burst_length= 64
Then replace the memcopy by:
**for a read:**
        //memcpy(buffer,

[2017-06-19 18:29] kenhill commented on #317
@boekholt
No problem, Welcome back!

Here are the strings I am using on a fresh clone of the master branch:

source /data/snap_setup.sh (some quick exports for snap_settings using KU3 board)
export SDRAD_USED=TRUE
export ACTION_ROOT=/home/$USER/snap/hardware/action_examples/hls_memcopy
make -C $ACTION_ROOT
source /home/$USER/snap/hardware/snap_settings
make -C snap/hardware config

The above comma

[2017-06-20 06:39] joergkayser opened #325 "Vivado license issues with user=fpga"
since about 1 week we start to have license issues on some userIDs.
id=tsfuchs	ok
id=fpga		error
Both users hould have the authority to get XILINX licenses through SWLT

during synthesis:
Command: synth_design -mode default -directive Default
Starting synth_design
Using part: xcku060-ffva1156-2-e
Top: psl_fpga
Attempting to get a license for feature 'Synthesis' and/or device 'xcku060'
WARNING: [Co

[2017-06-20 14:01] ibm-genwqe commented on #313
I can add this, NP

[2017-06-20 14:50] boekholt commented on #317
Ok, I see - I did not create the HLS action's RTL code manually and therefore did not get those HLS modules at all (when setting `$ACTION_ROOT` correctly the HLS action's RTL code gets built automatically via `make -C snap/hardware config`.

With `$ACTION_ROOT` incorrectly set one level up after manually building the HLS action's RTL code, duplicate sources are found by `make -C snap/hardware conf

[2017-06-20 15:05] bmesnet commented on #320
Very strangely.....
new tests done with memcpy and max_read_burst_length=64 max_write_burst_length= 64 works ok !!!
Sergei from Xilinx saw the issue with his code but doesn't see it anymore
I saw the issue with my code but doesn't see iy anymore !!!
Doing some exhaustive tests to understand

[2017-06-20 15:56] ibm-genwqe commented on #313
i pushed some code to debug.

[2017-06-21 07:19] joergkayser commented on #325
IT solved the issue.

[2017-06-21 07:19] #325 closed

[2017-06-21 13:05] jsvogt commented on #323
The fixes are in branch jsv_README

[2017-06-21 13:50] bmesnet commented on #285
Problem not recreatable.

[2017-06-21 13:50] #285 closed

[2017-06-21 14:28] joergkayser opened #327 "NVMe needs different setup in Vivado 2017.2"
When building FGT+NVMe models with Vivado 2017.1 instead of 2016.4, some signal prefixes change due to updated Xilinx IP. This affects sim/nvme/nvme_model.v:

diff snap_master_nvmb201*/hardware/sim/nvme/nvme_model.v
2016.4:
 define DUTP0 a0.nvme_top_i.axi_pcie3_0.inst.pcie3_ip_i.inst
 define DUTP2 a0.nvme_top_i.axi_pcie3_1.inst.pcie3_ip_i.inst
 defparam a0.nvme_top_i.axi_pcie3_0.inst.pcie3_ip_i.in

[2017-06-21 14:46] bmesnet commented on #323
Sounds ok. Thx

[2017-06-21 14:46] #323 closed

[2017-06-21 15:01] joergkayser commented on #327
Now, that the 2017.1 model can be compiled, I also tried running NVMe and failed with a hang during nvmeInit.py -db
The model and sim output is available in ~jkayser/snap_master_nvmb2017/hardware/sim/20170621_162051

[2017-06-21 15:37] bmesnet commented on #320
Multiple issues referring to memcpy have been opened by Xilinx:
1) **CR-979084** - memcpy: Vivado HLS by default splits a burst of the burst_lenght=64 onto 4 ones generating suboptimal results
2) **CR-979089** - Vivado HLS ignores the max_read(write)_burst_length of the INTERFACE pragma

3) Another pending issue is that memcpy doesn't work when bytes to transfer is lower than the data bus width. =

[2017-06-22 08:19] ThomasFuchs commented on #321
The SNAP work flow can use the PSL checkpoints that comes with the CAPI Design Kit.  But the current available Design Kit checkpoints for 7v3 and 8k5 have two drawbacks: 1) They was build with Vivado 2015.4. 2) They hide FPGA resources that SNAP could use (for example SDRAM, NVME,..). A team inside IBM is working on PSL checkpoint updates for the Design Kit that should solve these problems.

[2017-06-22 16:36] joergkayser opened #330 "snap_memcopy: core dump during hw_snap_card_free"
When running a loop of snap_memcopy commands, we fail with a core dump during
  snap_memcopy -i 3093.in -o 3093.out -v -t154660

The core dump shows
Program terminated with signal 11, Segmentation fault.
#0  0x000000348a408213 in pthread_join () from /lib64/libpthread.so.0
(gdb) where
#0  0x000000348a408213 in pthread_join () from /lib64/libpthread.so.0
#1  0x0000000000405347 in cxl_afu_free ()
#2

[2017-06-23 03:49] luyong6 commented on #317
Why not adding directions in README.md

$ACTION_ROOT = ..../hdl_memcopy
$ACTION_ROOT = ..../hls_memcopy/**vhdl**     need explicitely assign the source directory that contains the source vhdl/verilog files!

[2017-06-23 08:21] ibm-genwqe commented on #330
i am not able to figure out why we get a core dump. Is this from Simulation or on Real HW ?
Can you recreate ?

[2017-06-23 08:25] ibm-genwqe commented on #95
I added a file in "software/scripts/snap_jenkins.sh" which gets triggered after a good image build.
The script flashes the cards and runs all test's.
HLS testing is not fully implemented but can be added. The script works on KU3 and FGT card.

[2017-06-23 08:43] bmesnet commented on #315
ok this is corrected and Jörg tested it ok

[2017-06-23 08:43] #315 closed

[2017-06-23 08:45] bmesnet commented on #109
Documents in box -https://ibm.box.com/s/gl7olerjf46tnqce1ivmei6jp17yvg9g
I will add them to git when all done and reviewed

[2017-06-23 08:47] bmesnet commented on #310
@luyong6
Do you expect we should report that to Xilinx ?

[2017-06-23 08:48] bmesnet commented on #313
code cehcked ok. No need to keep this issue opened. thanks

[2017-06-23 08:48] #313 closed

[2017-06-23 09:42] luyong6 commented on #310
Yes, let me reproduce this and look at the generated vhdl.

[2017-06-23 10:16] joergkayser commented on #291
I added following lines after snap_maint initialization to prevent the warning messages:

if [[ "$SDRAM_USED" == "TRUE" ]];then
  echo -e "write FPGA memory to prevent reading unwritten adr 0"
  $SNAP_ROOT/software/examples/snap_example_set -F -b0x0 -s0x100 -p0x5 -t50
fi

[2017-06-26 08:16] joergkayser commented on #327
same scenaroi in Vivado 2017.2, instance names to be changed, and hang in nvmeInit.py -db

[2017-06-26 10:15] joergkayser commented on #330
the core dump can be recreated with fine sizes of 2521 Bytes or higher, the test runs successfully with 2520 Bytes or less, see core dumps in ~jkayser/snap_hls/hardware/sim/ies/20170626_115000

[2017-06-27 08:49] luyong6 opened #337 "HLS action with NVMe: Need to adapt action_wrapper.vhd_source"
I am trying to make a HLS example on FGT and using NVMe port.
With USE_NVME=TRUE, and set hls_action interface like this:
[code]

I meet a simulation compile fail of "ports mismatch".

That is because action_wrapper.vhd_source doesn't have a similar paragraph for NVMe AXI port like this
[code]

[2017-06-27 08:51] luyong6 commented on #337
Current action_wrapper.vhdl_source NVMe port is like this
[code]

Not under control of parameters.

[2017-06-27 12:08] boekholt commented on #337
Hi @luyong6,

yes, I simply copied the action wrapper from our hdl_example and adapted what was required for HLS. At that point in time there did not exist an HLS example which used the NVMe drives.

We can add that now.
- If you want to do it yourself you may simply adapt [hardware/hdl/hls/action_wrapper.vhd_source](../../blob/master/hardware/hdl/hls/action_wrapper.vhd_source) and create a pull r

[2017-06-27 12:34] boekholt commented on #317
I created pull request #338 which should resolve this problem.
With that change it is for instance for the HLS memcopy example allowed to set `$ACTION_ROOT` to `$SNAP_ROOT/action_examples/hls_memcopy` or to `$SNAP_ROOT/hardware/action_examples/hls_memcopy/**vhdl**`. Both versions will work regardless if the HLS action was already pre-compiled or not.

[2017-06-27 12:38] ibm-genwqe commented on #330
Seems like a HLS problem, Frank , or Bruno have to look into this on.

[2017-06-27 12:50] ibm-genwqe opened #340 "Implement Code to use FPGA capability register"
This code adds functions to check FPGA for

1.) Card (FGT or KU3 for now)
2.) NVME enabled
3.) Size of SD memory on Card

[2017-06-27 14:52] ThomasFuchs opened #341 "Setup: simulation fails if gcc and xterm are not available"
To run SNAP gcc and xterm is  required, but the availability  will not checked.

[2017-06-27 15:44] joergkayser commented on #291
Thomas, Lu, is the recommendation (see above) good enough to keep you going ?
Can we close this ticket ?

[2017-06-28 07:02] ibm-genwqe commented on #340
I did push some code how this can be implementet. This is only a 1st draft version and i am not sure if i will make it this way.

[2017-06-28 07:03] ibm-genwqe commented on #340
Check branch issue_340

[2017-06-28 08:38] luyong6 commented on #291
Hi I have tested the lines (adding them into test.sh and use `./run_sim -list test.sh` )  for hdl_example with SDRAM_USED=TRUE and NVME_USED=TRUE.

And yes, the annoying warnings were suppressed.
After about 255882 ns simulation, two SSD were initialized.

This issue can be closed.

[2017-06-28 08:55] luyong6 commented on #337
Hi  Sven,
Let me do it myself a little bit. One question, is C_M_AXI_NVME_DATA_WIDTH=32 for NVMe port?
Host and DDR port are 512bits data width. Why NVMe port is so narrow?

[2017-06-28 11:37] boekholt commented on #337
Hi Lu,
the AXI interface between action and NVMe host is just a control interface for register reads and writes to the 32bit registers within the NVMe host logic.

[2017-06-28 11:59] joergkayser opened #343 "Shell Scripts: some IF conditions are not POSIX conform"
compilation on RHEL runs smooth
compilation on Ubuntu with /bin/sh returns
    make config
    /bin/sh: 1:   [[:  not found

Scripts should be coded for all kinds of shells and not rely on bash

[2017-06-28 14:14] fhaverkamp commented on #341
Can you make the title of this bug more descriptive, please?
Do you expect some dependency checking to be done? I mean libc, grep, perl, sed, ... maybe more. Do you really expect us to maintain such a list of dependencies some place? If this would be a distro package we could use the dependency checking for software some folks use autoconfigs "./configure" or alike. I could imagine that those tool

[2017-06-28 14:14] fhaverkamp commented on #341
I do not see for which purpose we need xterm?

[2017-06-28 14:37] fhaverkamp commented on #330
I assume we might allocate less than 64 bytes or an output buffer. We should fix that quick to see if it helps. It is certainly wrong what is done there.

[2017-06-28 14:41] fhaverkamp commented on #330
https://github.com/open-power/snap/tree/HLS_memcopy_fixups contains a potential fix, which I would like to try out.

[2017-06-28 14:47] fhaverkamp commented on #310
I think it is worthwhile reporting if Lu Yong is able to reproduce. This I would think is really not as expected. Are the values below those arrays as expected or shifted?

[2017-06-28 16:15] luyong6 commented on #337
Another question:
Is AXI NVME a master, right?
AMBA AXI spec says AWLOCK and ARLOCK are (1:0)  -- 2bits.
but from hardware/action_example/hdl_example, M_AXI_AWLOCK/ARLOCK is only 1 bit.
It also impacts psl_accel_fgt.vhd_source

[2017-06-29 07:22] joergkayser commented on #330
with #346 a fix was merged into the master code, which fixes this issue. Therefor I close this ticket

[2017-06-29 07:22] #330 closed

[2017-06-29 07:23] joergkayser commented on #291
Thanks for the info. Closing

[2017-06-29 13:00] joergkayser opened #347 "hls_intersect: snap_intersect -m1 error"
branch:     master d112fa2 2017-06-29

- irun  with KU3+BRAM works
    snap_intersect -m1 -v -t300
    snap_intersect -n1 -v -t600
    snap_intersect -n2 -v -t1200
    snap_intersect -I -m1 -v -t300

- irun  with KU3+DDR3 fails in snap_intersect -m1 -v -t300
    Start Step1 (Copy source data from Host to DDR) ..............
    Step 1 took 3851159 usec
    Start Step3 (Do intersection in DDR) ....

[2017-06-29 14:08] boekholt commented on #337
Yes, from the  action's perspective the AXI interface to NVMe is a master.

The nvme_host block design defines the bits M_AXI_AWLOCK/ARLOCK as `std_logic_vector(0 to 0)`. That is why we defined it the same way in [hardware/action_examples/hdl_example/action_wrapper.vhd_source](../tree/master/hardware/action_examples/hdl_example/action_wrapper.vhd_source). But, those inputs to the nvme_host are not

[2017-06-29 14:44] luyong6 commented on #347
Oh! I missed that!
The problem is because, in HLS code I separated two methods. I used  `#define USE_HASH` or `#define USE_SORT` to distinguish two methods. They cannot be called at the same time. I did that when I was blocked by the timing issues.

Let me try to open both of them again, otherwise I need add someting in the testing scripts.

So, yes, current master code defines `USE_SORT`,  so `-m

[2017-06-30 07:13] ThomasFuchs commented on #341
simulation requires a xterm

[2017-06-30 07:55] jsvogt commented on #99
This was a bug of the PSL for the FGT card. It is fixed now

[2017-06-30 07:55] #99 closed

[2017-06-30 08:00] jsvogt commented on #96
Please recreate with latest Xilinx tools. Address to Xilinx if the problem persists

[2017-06-30 08:09] jsvogt commented on #321
Unlikely to be fixed at the moment, as this is a completely different FPGA chip.
Check with IBM team again in a few weeks.

[2017-06-30 08:26] jsvogt commented on #95
Done, closing

[2017-06-30 08:26] #95 closed

[2017-06-30 10:09] boekholt commented on #317
@kenhill can we close this?

[2017-06-30 13:41] kenhill commented on #317
The master branch still creates a Vivado project with an incorrect toplevel module selected when `ACTION_ROOT` is set to $SNAP_ROOT/.../hls_memcopy

It seems that the `add_files` line in create_framework.tcl is also including hlsMemcopy_xcku060-ffva1156-2-e/ in the search path for files

[2017-06-30 13:48] kenhill commented on #317
The `add_files` command does have a -norecurse flag but this does not help if `ACTION_ROOT` is set incorrectly by the user. Can we add the following check back to the Makefile?

https://github.com/open-power/snap/blob/fa16ba76f3138a6e954ebe10ca6e48d6ff8aa40b/hardware/Makefile#L104-L107

[2017-06-30 14:25] boekholt commented on #317
The change is meant to make the setting of `ACTION_ROOT` to `$SNAP_ROOT/hardware/action_examples/hls_memcopy` no longer incorrect. Therefore I do not want that check back in the Makefile.
I was sure that the change was sufficient - need to double check... (will do that on Monday - sorry for the delay)

[2017-07-03 08:53] fhaverkamp commented on #347
Lu Yong, we briefly discussed this issue in our meeting here in BOE and it appears as if you build multiple different bitstreams. I wonder if this is a case where you should use a different action type, such that the query of the type will lead to the right test-cases and that the content is clear when reading out the type. So Eberhard has put some test cases in place which ask for the id and depe

[2017-07-03 09:44] boekholt commented on #317
With change #351 I made sure that psl_fpga is top level also in cases with additional links to the HDL sources for HLS actions.

@kenhill please let me know if this is an acceptable solution for your issue (and close this issue, if so).

Thanks
Sven

[2017-07-03 10:39] ReinerRieke opened #353 "64 byte output data swap"
Once in a while we see that the upper and lower 64 bytes in a cache line are swapped. I will take out an earlier 64 byte swap fix in order to see if that changes anything!

[2017-07-03 15:46] luyong6 commented on #347
Hi Frank, I just started an image build so see if I can keep both method in one action. Tomorrow morning I can see the timing results.  I will check the results tomorrow morning. If it cannot be successful, I have to separate them to two IDs. Where are Eberhard's testcases?

[2017-07-04 08:23] fhaverkamp opened #356 "Build: Elaboration error leads to multiple failing grep calls"
The problem below occurs if one uses an HLS action without CARD_DDR but configured
SDRAM_USED=TRUE. Elaboration fails and multiple calls to grep seem to go wrong.
I think we should check the return code and fail on the first one such that we stop on the
first occurring error.

[code]

[2017-07-04 08:55] joergkayser commented on #343
this change is merged into master

[2017-07-04 08:55] #343 closed

[2017-07-04 09:53] joergkayser commented on #347
software/scripts/snap_jenkins.sh shows an example, where the action_type points to the right set of testcases:
MY_ACTION=`./software/tools/snap_maint -C $card -m 1`
for action in $MY_ACTION ; do
  case $action in
	*"10141005")
		test_hls_intersect $card $accel ;;
In your case you define multiple variables to distinguish the methode, but they cannot be separated as they all use the same Action_type

[2017-07-04 10:15] joergkayser commented on #347
hardware/action_examples/hls_intersect/action_intersect_hls.H always defines the sort method with USE_SORT, and the ifdef USE_HASH condition is buried in the else_path and never called.
Please describe how to select the hash method and how to determine, which method is built into the action

[2017-07-04 17:23] #317 closed

[2017-07-05 12:20] joergkayser commented on #356
@fhaverkamp  Frank, the data is inconsistent. You mentioned the elaboration error, but the grep and other messages come from simulation (run_sim call).
You should have received an error from make config (elaboration), which should be investigated, and not proceeding into simulation.

[2017-07-05 15:50] ibm-genwqe commented on #340
pushed new code, Ready to review

[2017-07-06 07:02] boekholt opened #362 "HW: Remove inactive logic for "64byte swap" problem circumvention"
With change #360 the circumvention for the 64byte swap problem got disabled.
When we know that we have a stable PSL fix for this, the signals flip_bit_q and flip_bit_valid_q together with the related logic should be removed.

[2017-07-06 10:12] ibm-genwqe commented on #340
Please close this issue and continue to post in "issue_340"

[2017-07-06 12:44] joergkayser commented on #347
@luyong6 have you decided on using different action IDs for your different build environments ?

[2017-07-06 13:11] fhaverkamp opened #367 "Build: make clean does not tidy up properly"
Hi Thomas,

[code]

I think a make clean should leave the directory in a clean state. Please have a look if you can
include those files into the cleanup procedure or mark them in the .gitignore, which I think is
here not appropriate.

Regards

Frank

[2017-07-06 13:57] boekholt commented on #337
@luyong6
FYI: We are currently changing the action wrappers for partial reconfiguration support. This might affect the changes you are adding to the wrapper for HLS.
Are you still working on this? Please let me know if I can provide some help.

[2017-07-06 13:57] ibm-genwqe commented on #340
Code merged into master

[2017-07-06 13:57] #340 closed

[2017-07-06 14:53] ibm-genwqe opened #368 "Jenkins Test on Hardware"
Need to fix script file for Jenkins auto test.

[2017-07-06 16:11] luyong6 commented on #347
Hi Joerg, my recent synthesis still failed with about -400ps, so I am going to seperate them to two IDs. I think I can keep the same software, when -m1, setting one ID,  and -m2 setting another ID.

And under hardware/action_examples/ I am going to seperate the codes to *two folders* `hls_intersect_bysort` and `hls_intersect_byhash`.
Currently hls_intersection uses 0x10140005, and I am also going

[2017-07-06 16:17] luyong6 commented on #337
Hi Sven, please keep going, I didn't clean up all things in the wrapper (it not only impacts action_wrapper.vhd_source and also psl_accel_fgt.vhd_source )
And I am afraid I will not pick up HLS example on NVMe in the following one or two weeks.

[2017-07-07 07:49] jsvogt commented on #353
Circumvention removed, testing

[2017-07-07 07:54] jsvogt commented on #367
Please retry with clean repository.

[2017-07-07 08:10] boekholt commented on #337
Hi Lu, I am surprised that psl_accel_fgt.vhd_source is affected by that.
Are you working on a branch that I could have a look into?

[2017-07-07 12:05] fhaverkamp opened #370 "hls_intersect: Hardware stuck and returns error on mmio_read()"
R   hw_snap_mmio_read32(0xc7e510, f000, 1) -1
R   hw_snap_mmio_read32(0xc7e510, f000, 1) -1
R   hw_snap_mmio_read32(0xc7e510, f000, 1) -1
R   hw_snap_mmio_read32(0xc7e510, f000, 1) -1
R   hw_snap_mmio_read32(0xc7e510, f000, 1) -1
R   hw_snap_mmio_read32(0xc7e510, f000, 1) -1

I saw this in a failing intersect test-case. We should stop and return an error, but we seem not doing this, but instead co

[2017-07-09 15:08] luyong6 commented on #337
Branch:  HLS_nvme_wrappers_update

Hi Sven,  I have cleaned up the irun compiling errors for a HLS generated NVME interface.
Need to add parameters from top to bottom, so it impacts following files:
[code]
ARLOCK and AWLOCK are 2bits wire, and they are ingored in nvme_top. (Assigned "0")

I created
[code]
for the test.
Currently just passing the irun compilation, and haven't touched the function.

[2017-07-10 12:49] luyong6 commented on #370
Seems I was creating corner case again?

[2017-07-10 12:53] luyong6 commented on #353
Be careful with the timing of ha_bwad..

[2017-07-10 14:49] boekholt opened #375 "HW snap_build.tcl: Problems with extracting timing information"
In snap_build.tcl timing information gets extracted in order to decide if the image build was successful.
Here we are interested in the WNS (Worst Negative Slack). The variable name and the messages indicate that we are looking at the TNS (Total Negative Slack).

The extraction leads to errors for 0.000 ns WNS. In this case an empty result gets produced which then leads to a tcl interpeter error f

[2017-07-10 16:02] jsvogt commented on #375
Naming: Changing TIMING_TNS to TIMING_WNS.
The WNS was always used for comparison, not the TNS (as originally planned).
Suppression of leading zeroes in the sed expression led to this bug.

[2017-07-11 09:07] joergkayser commented on #356
please verify with branch=fix_grep_356

[2017-07-11 16:13] #375 closed

[2017-07-12 08:19] fhaverkamp opened #379 "SNAP Action: Move each action type hard- and software part into one subdirectory"
E.g.

[code]

Feel free to add more ideas here.

The scattering of the action code was rated not optimal by our HPI and AlphaData partners.

[2017-07-12 08:38] fhaverkamp opened #380 "SNAP Action: Discuss function-id versus multi-action"
We observed that folks who like to do more complex things with an action tend to split the functionality into different pieces e.g. SET_KEY, CYPHER, DECYPHER. This makes sense and they currently do this by using a mode flag in the SNAP job description. Since this is unique per action, it is not easy to have examples which make sense on the first glance. Furthermore it leads to trying to reuse the

[2017-07-12 08:48] fhaverkamp commented on #380
I wonder if we run into the casing problem again, or if we can potentially have multiple hls_action_func0, 1, 2 ... with appropriate pragmas, which map different job-descriptions into our MMIO space.

[2017-07-12 14:52] luyong6 commented on #370
Hi Frank, would you check a look at the log again?  sim.log
I see this error with following message:
[code]
I have to delete the // in the first line of ip/ddr3sdram_ex/imports/ddr3.v and make model again.

[2017-07-14 07:27] luyong6 commented on #379
I like this idea very much. Shall we move?

[2017-07-14 07:31] luyong6 commented on #337
Hi @boekholt How do you think this? Shall I raise a merge request?

[2017-07-14 08:08] luyong6 commented on #370
We know that 3 processes are invoked for a simulation:
[code]
when the first one, i.e, NCSIM, meets some error condition and exit (like in this example) , script `hardware/sim/run_sim` should have a way to terminate the application.
 run_sim script knows the SIM_PID and is there a way to watch it? When it is terminated in middle, kill the Application also.

To reproduce this, you can run hls_inter

[2017-07-14 08:47] boekholt commented on #337
@luyong6
Hi Lu,
is that already functional (do you have NVMe running with HLS)?
I thought this was not yet the case.
A prerequisite for merging would be to adapt the hdl_example action wrapper in order to prevent that it breaks.
Another point is that we are currently working on cloud provider support by adding a partial reconfiguration flow. This means that we have to get rid of the generics for t

[2017-07-14 10:11] joergkayser commented on #327
now that we can checkout licenses for Vivado 2017.2 , this to-do item gets higher priority. We need a solution for NVMe configurations with different Vivado versions

[2017-07-17 09:30] joergkayser commented on #370
I tried to reproduce this case with Vivado 2016.4, card=ku3, action=hls_intersect, SDRAM_USED=TRUE, Simulator=irun. The error was:
the application hls_interact caused a memory overflow in the simulator irun. irun stopped running.
run_sim detected, that the simulator was gone, so it killed the other processes from the list, which was PSLSE and testlist.sh.
As hls_interact was a child to testlist.sh

[2017-07-17 12:57] fhaverkamp commented on #379
Bruno just told me to proceed with a proposal. The HPI folks wanted it too but I have not seen their proposal yet. Let use try to put something together and discuss it during tryout.

[2017-07-18 08:45] jsvogt commented on #347
For new action types, please go ahead, change the table, and let someone from the team review the pull request.

[2017-07-18 09:13] joergkayser commented on #347
When possible, please also add the testcase and/or testcase options for the respective action

[2017-07-18 12:18] ReinerRieke commented on #353
So far no 64 byte swap failures have been reported on KU3 and FGT. Will leave the issue open few more days.

[2017-07-18 12:22] ReinerRieke commented on #59
NVMe  example application and action is in place for quite a while. Will close this enhancement request.

[2017-07-18 12:22] #59 closed

[2017-07-18 14:15] fhaverkamp commented on #370
Mhm. You hijacked my bug to discuss intersect problems. So leave this open even though I fixed the problem in the low-level code causing not to abort when getting a bad return code by the register read function.

[2017-07-18 14:48] fhaverkamp commented on #356
I trust you. Thanks for taking care. If it reoccurs, I will open a new bug.

[2017-07-18 14:48] #356 closed

[2017-07-18 18:11] jsvogt commented on #318
This is fixed with the merge of pull request #382
Please close, or comment if there's still information miissing

[2017-07-18 18:25] jsvogt commented on #185
Does this still exist? Please re-test with the current PSL versions.
I assume this problem isn't related to the CAPI/PSL Memory alloc/dealloc issue (issue with TLBI, requiring Linux cxl kernel extension fix).

[2017-07-19 08:21] #318 closed

[2017-07-19 14:43] ibm-genwqe opened #387 "FGT Image causes core dump"
I was testing
"SNAP FPGA Release: v1.1.0 Distance: 0 GIT: 0x3c27091f" on FGT using
using
"./snap_example -a2 -A64 -v"
---------- dest Buffer: 0x10009262640
 00000000: 01 01 01 01 01 01 01 01 01 01 01 01 01 01 01 01 | ................
 00000010: 01 01 01 01 01 01 01 01 01 01 01 01 01 01 01 01 | ................
 00000020: 01 01 01 01 01 01 01 01 01 01 01 01 01 01 01 01 | ................
 00000030:

[2017-07-20 03:35] luyong6 commented on #347
Hi I finished the testcase split in Branch HLS_intersect_split.
I stuggled a long time with "make image" so it delayed so long. But how about I go to merge it after your directory restructure? (And also update Jenkin test) So I am afraid to keep  this issue opened for another 2-3 days.

[2017-07-20 08:22] ibm-genwqe commented on #387
This problem seems to be random after flash update. I was able to recover from this bug by sending (echo 1 > /sys/clas/cxl/card0/reset) to the card.

[2017-07-20 09:09] joergkayser commented on #347
This branch HLS_split_intersect works fine, and you did a perfect job modifying our simulation regression 👍
Go and push this to master right after the restructure merge

[2017-07-21 08:15] jsvogt commented on #41
Will be fixed with the CAPI 2.0 / Performance DMA redesign

[2017-07-21 09:29] bmesnet commented on #380
Trying to understand if this is to reduce the size, simplify the SNAP job description, or reduce the size code of the action.
If it just to differentiate the code in HLS, I guess we can use the FUNCTION_INSTANTIATE pragma in HLS which helps differentiating code and is intended to help doing local optimization (not tested yet), but this requires that the parameter in the function call is fixed.
_vo

[2017-07-21 11:48] fhaverkamp commented on #379
Thanks to all those contributing to this larger effort. I think we did well including this so quickly.

[2017-07-21 11:48] #379 closed

[2017-07-21 11:48] fhaverkamp commented on #367
Sven reported that it works for him after our restructuring activity.

[2017-07-21 12:30] fhaverkamp commented on #367
https://github.com/open-power/snap/tree/SIM_Fix_Cleanup_if_SNAP_ROOT_is_not_set

When SNAP_ROOT is not set, the Makefile in the hardware subdirectory is doing funny things ... and not what it should do. I tried to attack that in the branch mentioned above.

[2017-07-24 12:18] ibm-genwqe commented on #387
i do have some more data to look at, I was trying to copy to Buffer + 0x80, but the buffer does
have a gap in between and the data is wrong

---------- dest Buffer: 0x10020700
 00000080: 40 00 00 00 bf ff ff ff 48 00 00 00 b7 ff ff ff | ........H.......
 00000090: 50 00 00 00 af ff ff ff 58 00 00 00 a7 ff ff ff | P.......X.......
 000000a0: 60 00 00 00 9f ff ff ff 68 00 00 00 97 ff ff ff | .......

[2017-07-24 14:30] joergkayser opened #391 "snap_example returns RC=0 despite of errors"
When I run snap_example -a2 -A <non64b number>, I get RC=0 and the msg
     align: 1924 must be a multible of 64
In this case the RC must be non_zero

If I run snap_example_ddr -s0x1000 -e4324 -b228 -i1, I get RC=0 and the msgs
     Error@: 0x00000000000010c0 Expect: 0x08edbdab79838cb2 Read: 0x0000000000000000
In this case the RC must be non_zero. If the -b needs to be a multiple of 64B, this has

[2017-07-24 14:33] ibm-genwqe commented on #391
I will fix this in "SW_rc_fix" branch

[2017-07-24 15:05] joergkayser commented on #220
@ibm-genwqe please close, when done. Thx

[2017-07-25 16:55] bmesnet opened #395 "SNAP not importing IPs from Xilinx IP catalog if an HLS action requires access to them"
**_(This issue prevents from using any math or video function)_**
_For this issue, an example of hls_code for which IP are not yet imported into SNAP can be found in HLS_bloomfilter branch > **action hls_bloom**_

With current SNAP release, the **create_run_hls_script.sh** generates vhd files in hls_action/hlsXXX/yyy/**syn**/vhdl directory.
If IP from Xilinx IP catalog are needed, then  **tcl file

[2017-07-26 14:53] ibm-genwqe commented on #391
Fixed, merged into master

[2017-07-26 14:54] ibm-genwqe commented on #391
sorry, Jörg, please close this

[2017-07-26 15:54] joergkayser commented on #391
working fine. Thx

[2017-07-26 15:54] #391 closed

[2017-07-27 08:39] joergkayser opened #397 "HLS code times out during allocation of action"
snap_intersect, snap_search and probably other apps fail to attach the action and report a timeout. Please check the attach process and also display the source of the "Timer expired!" message (attach timeout or execution timeout)
Thanks

[2017-07-27 11:54] ibm-genwqe commented on #397
Fix will go into branch "SW_attach_timeout"

[2017-07-27 14:34] fhaverkamp commented on #397
Thanks Eberhard.

[2017-07-27 14:59] joergkayser commented on #397
tested or, please merge

[2017-07-27 15:04] ibm-genwqe commented on #397
fixed, code in Master

[2017-07-28 07:21] joergkayser commented on #397
works fine now. Thx

[2017-07-28 07:21] #397 closed

[2017-07-28 07:22] joergkayser commented on #347
with HLS_split_intersect_new being merged into master, this problem is solved. Thx

[2017-07-28 07:22] #347 closed

[2017-07-28 08:10] fhaverkamp commented on #367
For me it works. Sven if you like to do further improvements, please go ahead.

[2017-08-01 07:55] luyong6 commented on #291
This warning also happens to hls_memcopy. Shall we add it into testlist.sh for other examples?

[2017-08-01 09:09] ibm-genwqe commented on #185
Duplicate:
https://github.com/open-power/snap/issues/387

[2017-08-01 09:13] ibm-genwqe commented on #387
Loaded image from https://github.com/open-power/snap/tree/RC_flip_bit_4_fgt on FGT Card.
Tested: 1.) 3 x Card Reset. No Swap / Free Error seen anymore
Tested: 2.) Power cylce: No Swap / Free Error.

[2017-08-01 09:16] ibm-genwqe commented on #353
See also https://github.com/open-power/snap/issues/387
We still found a Memory Swap or Data corruption problem on FGT Card. This problem is fixed
in Branch https://github.com/open-power/snap/tree/RC_flip_bit_4_fgt

[2017-08-01 09:18] ibm-genwqe commented on #362
Branch https://github.com/open-power/snap/tree/RC_flip_bit_4_fgt did fix this problem on FGT Card.
See also https://github.com/open-power/snap/issues/387

[2017-08-01 09:52] boekholt commented on #362
FGT still requires the "flip bit circumvention". Therefore, the corresponding logic can't be removed, yet.
We can reopen this issue as soon as the FGT PSL logic is fixed.

[2017-08-01 09:52] #362 closed

[2017-08-01 12:52] jsvogt commented on #353
Well, not really fixed, but circumvented. Fix must go into the PSL

[2017-08-01 15:37] #387 closed

[2017-08-02 14:59] joergkayser commented on #291
@luyong6 see my pull request for branch=prevent_hls_unwrittenadr

[2017-08-03 07:52] joergkayser commented on #291
I have to revert the previous change, since snap_example_set was written for action=hdl_example and not for any flavour of HLS actions. Can you tell me, how hls_memcopy (or other actions with DDR) can be called to write into DDR memory ?

[2017-08-03 08:36] luyong6 commented on #291
Oh, sorry, I didn't realize that.
HLS examples doesn't have a way to allow sw directly modifying the content in DDR, unless you modify the HLS CPP code to provide such a channel.  But I feel it ugly and unecessary.

So I suggest to keep current status as it is.

[2017-08-07 07:11] boekholt opened #410 "PR flow: Should "lock_design -level routing" get added to cloud_merge?"
See pull request #409.
We need to understand if a `lock_design -level routing` is required for the static region's cells.

[2017-08-07 07:14] boekholt opened #411 "PR flow: Documentation required"
We need to describe the PR flow for the cloud.

[2017-08-07 07:41] boekholt opened #412 "PR flow: Need to define Configuration Management for cloud workflow"
Do we want to define a naming convention for the static region DCPs?

[2017-08-10 11:57] joergkayser opened #415 "HLS_INTERSECT: Memory overflow during simulation"
When running snap_intersect  -m1 -v -t300, I get the error:
memory_write: at time 86449534.0 ps ERROR: Memory overflow.  Write to Address 0400000 with Data xxxxxxxx4141412b will be lost. You must increase the MEM_BITS parameter or define MAX_MEM.
...snap/hardware/ip/ddr3sdram_ex/imports/ddr3.v:756                 if (STOP_ON_ERROR) $stop(0);
ncsim>  exit

This means, that the Xilinx DDR3 IP needs

[2017-08-11 12:21] #368 closed

[2017-08-11 12:23] ibm-genwqe commented on #220
Close: See software/tools/snap_nvme_init.c

[2017-08-11 12:23] #220 closed

[2017-08-14 07:55] luyong6 commented on #370
Hi Frank, I think this has been fixed, right?

[2017-08-14 07:59] luyong6 commented on #415
I Joerg, in newer releases, I reduced the usage of DDR model so this issue may not show up. But yes, this is always a problem. My solution was to open the first line `define MAX_MEM in ddr3.v, but this is an extra step and not good for auto-testing.

[2017-08-14 08:16] luyong6 opened #418 "Run on HW, Ctrl-C to terminate a long test, then "can not attatch action""
When I was writing test scripts, some tests were quite long. I didn't want to wait, so I Ctrl-C to terminate it. Then I found next time when I want to execute the testscript again, it would timeout.

I found this problem in NSA121B first, but then I found it also happened on KU3.
My steps:
1. Flash the card with a proper bistream (bin file)
2. Call software/tools/snap_maint -vvv   (Will recoganize

[2017-08-14 08:44] #418 closed

[2017-08-14 14:14] boekholt commented on #94
Change request #416 is addressing this enhancement.

[2017-08-16 09:29] luyong6 opened #420 "Running on FPGA: Action didn't exit clearly with middle termination"
An example running on KU3 card (Also happened on NSA121B card)
1. Running Sponge, SUCCESS, it costs 28seconds.
2. Set -t10, run it and let it be timed out after 10 seconds.
3. Run again, (with this parameter it needs even shorter time, < 1second), but it timed out again.
Then I cannot operate on this Acceleration anymore, always timeout. Unless reprograming the FPGA.

It seems the action doesn't e

[2017-08-16 09:33] luyong6 commented on #291
Let me close it.

[2017-08-16 09:33] #291 closed

[2017-08-16 09:35] luyong6 commented on #155
I close this issue, since the problem decripted here had been gone.  Replace it by #420.

[2017-08-16 09:35] #155 closed

[2017-08-23 13:38] bmesnet commented on #320
Received from Xilinx that following 2 issues have the same statement: “To be fixed Version:” 2017.4:
- CR-979084 - memcpy: Vivado HLS by default splits a burst of the burst_lenght=64 onto 4 ones generating suboptimal results
- CR-979089 - Vivado HLS ignores the max_read(write)_burst_length of the INTERFACE pragma

I have asked to Lisa the status for CR-978469 HLS: address bits lost when using hls

[2017-08-23 13:43] bmesnet commented on #263
Received from Lisa@Xilinx that this issue will be fixed in Version 2017.4

[2017-08-25 14:40] ThomasFuchs opened #422 "build: snap_build script passed with an error during generating bitstrams"
[BUILD IMAGE.........] start Fri Aug 25 12:13:53 CEST 2017
                                open framework project                                      12:13:59
                                start synthesis         with directive: Default             12:14:03
                                start locking PSL                                           12:28:56
                                start

[2017-08-28 05:54] luyong6 commented on #395
Bruno, some updates to the scripts for your reference:

create_ip.tcl
[code]

create_framework.tcl
[code]

[2017-08-28 13:43] ThomasFuchs commented on #422
fix is in master

[2017-08-28 13:43] #422 closed

[2017-08-29 09:30] luyong6 opened #424 "XSIM reports parity error while NCSIM doesn't"
When using XSIM to simulate the basic hdl_example, user may see WARNING like this:

[code]

But this parity error doesn't happen when setting SIMULATOR=irun.

From the xsim waveform, I saw AC_GENPARITY may be modeled incorrectly in XSIM. It only lasts for one cycle.
![default](https://user-images.githubusercontent.com/23333783/29814174-fc20215e-8cde-11e7-8c19-fb0db3cce58e.png)

This may be annoyin

[2017-08-29 09:38] luyong6 commented on #424
ACTION_ROOT=...hdl_example, with SIMULATOR=XSIM
run_sim -list testlist.sh
(I think not related to FPGACARD and SDRAM_USED)

The code is at line 498 of hdl/core/dma_buffer.vhd

[code]

[2017-08-29 10:12] joergkayser commented on #424
The difference between xsim and irun is just, that you see the msg printed in xsim, whereas it is suppressed in irun (with assertion off) . Both simulators show the parity error in the waveform, and yes, it is annoying.
@ThomasFuchs Please fix the parity error, so that we can turn assertions back on on both simulators

[2017-08-30 09:17] ThomasFuchs commented on #424
The branch Issue#424 includes the fix.

[2017-08-31 11:34] #424 closed

[2017-09-05 09:16] bmesnet opened #432 "SNAP enhancements"
Few ideas to make life easier:
1) Can we rename snap/actions to snap/examples since application and actions are now under this directory?
2) Can we have defined 0x1=cpu and 0x0=fpga so that SNAP_CONFIG=cpu will be more explicit than SNAP_CONFIG=0x1?
3) Can all tools checking or displaying **Action Types** (snap_maint, make snap_env) read the Type from the ActionTypes.md file rather than coding it

[2017-09-05 10:02] ibm-genwqe commented on #432
Idea 3:
agree. I think we can create a C Header file like
struct ven_tab mytab[] = {
	0x10140000, "IBM Example",
	0x10140001, "IBM Example 1",
	0x10140002, "IBM Example 2",
	0x10140003, "IBM Example 3",
	0x10130Ab0, "xx Example 1",
	0x10150cd0, "xy Example 1",
	0, "exit",
};
this can be included in snap maint at compile time.

[2017-09-05 14:05] razvnane opened #434 "Wrong PSL Checkpoint Files for the CAPI SNAP Design Kit?"
Dear,

I get a synthesis error (see the attached log) when I try to create the image for the hdl_example. For some reason I get a mismatch in several ports used in base_img module, so I am wondering if this is a problem with my version of the PSL checkpoint file?

I downloaded the version from 04/14/2017 available on the IBM Portal for OpenPower.

[synth_design.txt](https://github.com/open-power/s

[2017-09-06 03:04] luyong6 commented on #432
idea 2:
agree. I also suggest to change the name "simulation_enabled()" in snap.c. This is not simulation, this is software action (SNAP_CONFIG=cpu) used. Add @fhaverkamp

https://github.com/open-power/snap/blob/master/software/lib/snap.c

[2017-09-06 06:55] ThomasFuchs commented on #434
Hi Razvan,
SNAP currently supports two cards. An Alpha-Data ADM-PCIE-KU3 and a Nallatech 250S-2T. Both cards have the same FPGA (KU60) but needs different PSL checkpoints. In the synth_design.txt I saw that you have setup SNAP for the Nallatech card. Do you have downloaded the PSL for this card?

PSL checkpoint (.dcp) files for KU3        => Alpha-Data ADM-PCIE-KU3
PSL checkpoint (.dcp) files for

[2017-09-06 17:16] razvnane commented on #434
Hi Thomas,

Which line shows that I have assigned the Nallatech card?

I downloaded actually both checkpoints, but I use only the KU3. And I see the PSL_DCP variable pointing to the correct directory in the output of the SNAP configuration.

[2017-09-07 07:11] ThomasFuchs commented on #434
Hi Razvan,
each PSL_DCP needs a other VHDL top structure. This is the reason why you find in hardware/hdl/core two top structures. The psl_fpga_ku3.vhd_source and the psl_fpga_fgt.vhd_source. During the configuration phase, we pick up one and rename it to psl_fpga.vhd. Which one we pick up is controlled by the variable FPGACARD. It looks to me that you have downloaded the PSL_DCP for the KU3, but

[2017-09-07 10:16] acastellane commented on #432
Hallo,

when running snap-env from scratch, if you make a mistake, you can't recover situation as it seems .snap-env.sh, once created is read but is not modified.

Process to duplicate issue :
new linux account on supervessel
git clone snap dir
setup variables :
    export xilinx_root=/opt/Xilinx                             <<=== this one should be in the readme.md file
    source $xilinx_root/Viv

[2017-09-07 10:35] razvnane commented on #434
Hi Thomas,

That was the problem. After changing the FPGACARD variable in the configuration files, everything went smooth. Thanks!

Best,
Razvan

[2017-09-07 12:44] ThomasFuchs commented on #434
Hi Razvan,
I will close this issue. If you have future question, please open a new one issue or contact me directly.

Best,
Thomas

[2017-09-07 12:44] #434 closed

[2017-09-08 06:56] boekholt commented on #367
Looks good since a while

[2017-09-08 06:56] #367 closed

[2017-09-08 07:29] ibm-genwqe commented on #185
Closing this issue, we still beed a circumvention for FGT Code

[2017-09-08 07:29] #185 closed

[2017-09-08 07:39] jsvogt commented on #96
Can't recreate any more. Will not fix. Re-open if this problem hits again.

[2017-09-08 07:39] #96 closed

[2017-09-08 07:42] jsvogt commented on #420
Duplicate of #418 and #155

[2017-09-08 07:46] jsvogt commented on #420
Feature currently not in plan to be implemented

[2017-09-08 07:58] jsvogt commented on #337
action_wrapper.vhd_source is updated. Action hls_nvme_memcopy is available in master.
@joergkayser please verify

[2017-09-08 08:08] jsvogt commented on #179
Solved with HLS wrapper long time ago.
AXI user bits are not supported on HLS by Xilinx, we have a circumvention for context ID.
Also byte-enables on AXI not supported.

[2017-09-08 08:08] #179 closed

[2017-09-08 08:15] jsvogt commented on #165
SNAP supports byte-enables on AXI.
No HLS support for byte-enables, or don't know how to code in HLS.
Consider together with CAPI 2.0 DMA changes.

[2017-09-08 08:17] jsvogt commented on #94
#416 is merged.

[2017-09-08 08:17] #94 closed

[2017-09-08 08:19] jsvogt commented on #45
Done

[2017-09-08 08:19] #45 closed

[2017-09-08 11:40] ThomasFuchs opened #438 "Config: remove Kconfig dependencies"
The SNAP configuration (make snap_env) only works if the following Linux packages are installed:

yum groupinstall "Development Tools"
yum install ncurses-devel

Is it possible to use Kconfig without this?

[2017-09-08 14:52] joergkayser opened #439 "Documentation: Show FGT+NVMe Simulation dependency to Cadence/Denali VIP"
for FlashGT and NVMe we need Denali VIP, which needs seperate licenses and is bound to the Cadence Incisive simulator (ncsim/irun).
Users need Cadence licenses in order to simulate NVMe. Customers must be made aware of this dependency.
If this is documented under hardware/sim, then we also need a hint on the main README page

[2017-09-10 13:57] kenhill opened #440 "PR flow: Support for Nallatech FGT"
This branch has initial PRFLOW support for FlashGT board:

 `prflow_fgt_update`

It was tested building `hls_nvme_memcopy` with `cloud_base`.

Should this be pulled into branch `RC_fix_config`?

[2017-09-10 17:59] boekholt commented on #440
Hi Ken,
sure - please go ahead and create a pull request into RC_fix_config.

[2017-09-11 06:31] ThomasFuchs commented on #395
Hi Bruno, Lu Young,
the solution for this problem looks good. Please create a new branch/pull request to bring the code into github. The test and fine tuning could be done with the pull request.

[2017-09-11 14:18] boekholt commented on #438
Please have a look at pull request #443 which is addressing this issue.

[2017-09-11 21:37] kenhill commented on #440
Included in #433

[2017-09-12 06:33] joergkayser commented on #415
defining MEM_BITS to 12 (2^12 access to DDR memory) is better than defining MAX_MEM (writing to one distinct file, which prevents concurrent testing of multiple configs). See #415 If more is needed, please reopen

[2017-09-12 06:33] #415 closed

[2017-09-12 14:59] boekholt commented on #438
We did decide to live with the dependency to the Linux kernel sources and to the ncurses library.

[2017-09-13 07:41] ThomasFuchs commented on #273
@bmesnet
The current flow prints out the following message during the SNAP configuration phase:
[CREATE_ENVIRONMENT..] start Thu Sep  7 10:53:29 CEST 2017
	                                     using Vivado v2016.4 (64-bit)

Is this sufficient?

[2017-09-13 07:47] bmesnet commented on #273
@ThomasFuchs
No the Vivado release level needs to be independent from the Vivado HLS release level since HLS release needs to be at the latest to get all bugs solved. Changing HLS release is immediate while changing Vivado release has a lot of dependencies and must be tested deeply

[2017-09-13 15:06] #440 closed

[2017-09-15 07:38] #438 closed

[2017-09-15 07:59] boekholt opened #449 "Self-explanatory Makefile"
Just print a help message on a pure `make`

[2017-09-27 12:52] ldurdel opened #468 "Kconfig introduces undocumented dependencies to kernel sources"
On Ubuntu 16.04 LTS the initial snap configuration with all dependencies as listed in the README in place fails with the following error message:
[code]

Simply installing the kernel sources does not solve the problem, as on Ubuntu they reside in `/usr/src/linux-source-vvv` and not the expected `/usr/src/kernels/vvv`. It works with a symlink, but this should be documented properly or the kernel so

[2017-09-29 08:17] boekholt commented on #449
Shall we handle platforms differently (print message on x86, but build software on Power)?

[2017-09-29 08:46] luyong6 commented on #468
Maybe use `cat /etc/issue` and do decision?

[code]

[2017-10-02 13:35] fhaverkamp opened #470 "CBLK: NVMe action returns same slot/req multiple times"
commit 20785837f0a241c8bd9c620c219ba8c9e5562640 (HEAD -> action_hdl_nvme_example, origin/action_hdl_nvme_example)
Author: Frank Haverkamp <haver@linux.vnet.ibm.com>
Date:   Mon Oct 2 15:31:48 2017 +0200

    CBLK: Adding timeouts and other stuff to see if parallelism works OK or not

    Signed-off-by: Frank Haverkamp <haver@linux.vnet.ibm.com>

Single threaded use works ok so far:
haver@tul3eth3:

[2017-10-02 13:38] fhaverkamp commented on #470
What is shown here is that I think that I am missing completions for slots/reqs 13 and 14.
Instead I see double completions for 15 and 2. That confuses the software at this point in time, I do not repeat failing requests. I suspect that the NVMe action responsible for the queuing gets out of sync somehow. Let talk on Wednesday to see what is going on there.

[2017-10-02 21:51] boekholt commented on #395
I did implement and test the suggested solution. Please check pull request #472.

[2017-10-02 21:54] boekholt commented on #468
We should to look into using the standalone version, again.

[2017-10-03 12:13] bmesnet commented on #432
Pull request #471 did solve idea 2 but forgot to implement Lu Yong's change on idea 2 - will do that later

[2017-10-03 15:36] bmesnet commented on #395
Tested it ok with hls_bloomfilter action which is using math libraries and hls_helloworld which doesn't. Great work Sven and thanks to Lu Yong who gave the way to do it
Closing the issue

[2017-10-03 15:36] #395 closed

[2017-10-04 06:35] luyong6 commented on #165
Are we going to provide some functions to allow user access smaller alignment for the data array? Current fixed 64bytes membus_t always makes me crazy for the data casting...
Currently I either to "ASSUME" that data format is 64bytes aligned, which may not be true in real applications, or do some complex packing and unpacking, which is a headache.

[2017-10-06 08:14] ThomasFuchs commented on #353
Fix went into PSL. Latest version is on IBM OpenPower Portal.

[2017-10-06 08:14] #353 closed

[2017-10-06 08:16] boekholt commented on #449
We did decide to stay with the current implementation (always printing helpmessage when calling `make` w/o specifying a target).

[2017-10-06 08:16] #449 closed

[2017-10-06 14:13] fhaverkamp commented on #470
Thanks Sven for having a look at this. The new hardware version appears working correctly. I needed to add some more software changes which fix some remaining issues.

The following branch should have both correct: software as well as hardware:
    https://github.com/open-power/snap/tree/hdl_nvme_action

Let us consider merging this.

[2017-10-06 14:15] fhaverkamp commented on #470
I am running the following test-case successfully:
[code]
It prints out some performance values too.
[code]

[2017-10-06 14:21] #470 closed

[2017-10-06 15:35] boekholt commented on #468
The dependency to the kernel sources will be removed when change #476 is merged into master.
Instead a standalone version of kconfig will get installed automatically.

[2017-10-10 10:22] boekholt commented on #468
Change request #476 got just merged into master.
This means that we do no longer have a dependency to the kernel sources. The `make` process is now automatically cloning a standalone version of kconfig from https://github.com/guillon/kconfig.
A comment in `README.md` about this (hidden) dependency is outstanding. This comment will be part of change request #475.

[2017-10-11 14:29] boekholt commented on #468
Comments got added to change request #475

[2017-10-16 07:50] luyong6 commented on #468
I am working on following Git version.  On Ubuntu 15.04. It still needs to install *ncurses-devel*
I executed one line of `sudo apt-get install ncurses-dev` based on the web search result from
https://askubuntu.com/questions/270381/how-do-i-install-ncurses-header-files
and `make snap_config` again. Then the blue GUI works.

capi:snap$ git show
commit 82c087dd15ce012dbf2fb244c5772560660b44d9
[code]

[2017-10-16 10:21] boekholt commented on #468
yes, the dependency to the ncurses library is documented in [README.md](https://github.com/open-power/snap/blob/master/README.md#dependencies).
The question would be if we should add more support for using the command line interface instead of the menu driven version for kconfig (or if we should look into the possibility to add a kind of automatic detection in order to decide which kconfig version

[2017-10-16 11:51] fhaverkamp opened #481 "Build: dash/echo does not know about -e switch"
[code]

And here is why:
[code]

[2017-10-16 13:31] joergkayser commented on #439
fixed with #475

[2017-10-16 13:31] #439 closed

[2017-10-16 15:20] joergkayser commented on #337
hls_nvme_memcopy is part of my regression and works fine

[2017-10-16 15:20] #337 closed

[2017-10-20 07:45] jsvogt commented on #370
@luyong6 closing as fixed. Please open a new bug if an issue remains.

[2017-10-20 07:45] #370 closed

[2017-10-20 07:48] jsvogt commented on #310
@luyong6 Please reproduce or close

[2017-10-20 07:51] jsvogt commented on #468
@ldurdel I think this is fixed now, please close or comment

[2017-10-20 08:28] luyong6 commented on #310
Let me close it for now. (And reopen it when it harms again.)
This can be workarounded, and 108bytes actually will not allow many table entries like this.

[2017-10-20 08:28] #310 closed

[2017-10-23 16:44] kenhill commented on #412
@boekholt, I currently include the static DCPs in a directory structure similar to:

`ls static_dcps`
ADKU3_SDRAM
N250S_SDRAM_NVME

[2017-10-24 12:26] boekholt commented on #412
@kenhill does that mean, that you need additional support here?
The idea behind the current implementation is to store all generated DCPs to the directory that `DCP_ROOT` is pointing to. Later the required DCPs (static and user) should get included from that directory.
The latest change that you suggested forces the user to manually set `DCP_ROOT` such that it points to a valid directory.
Do you r

[2017-10-24 15:33] kenhill commented on #412
@boekholt no, the current layout works. I'm assuming most cloud providers will provide the static DCPs that are supported on their platform. So the user will link/copy the static DCP image they want to use into `DCP_ROOT`

The build should fail in the Xilinx tools if incorrect DCPs are used. Should we close this issue?

[2017-10-24 16:25] boekholt commented on #412
@kenhill  If you think that the config management support that the SNAP framework does provide is sufficient for the cloud flow, then we may close this issue. (The static DCP naming topic was just an initial question for the general question regarding config mgmt support for the cloud flow.)

[2017-10-24 16:35] kenhill commented on #412
The defconfig files are enough to configure the current `PRFLOW`

[2017-10-24 16:35] #412 closed

[2017-10-25 08:53] bmesnet opened #488 "Vivado HLS tool : bad sizeof reporting"
Sizeof reports erroneously the number of bytes of a structure
**example 1**
typedef struct helloworld_job {
        struct snap_addr in;    // input data   => 16 Bytes
        struct snap_addr out;   // offset table => 16 Bytes
} helloworld_job_t;
  j = sizeof(helloworld_job_t); => reports 32 Bytes which is correct
**example 2**
typedef struct helloworld_job {
        struct snap_addr in;     // i

[2017-10-25 19:16] bmesnet commented on #488
Sergei's answer: This is a alignment problem not related to HLS
=> https://en.wikipedia.org/wiki/Data_structure_alignment
looking for the best generic solution

[2017-10-26 09:07] bmesnet commented on #488
tested different options which work ok:

**Option 1: pad to keep alignement => sizeof reporting 40 Bytes**
typedef struct helloworld_job {
struct snap_addr in; // input data => 16 Bytes
struct snap_addr out; // offset table => 16 Bytes
char is_the_problem; // => 1 Byte
**char padding[7];        // => 7 Bytes**
} helloworld_job_t;
j = sizeof(helloworld_job_t); => **reports 40 Bytes**

**Option 2: a

[2017-10-26 09:09] #488 closed

[2017-10-27 12:05] ldurdel commented on #468
I tried the new version and everything (including the ncurses ui after installing `libncurses-dev` on Ubuntu) worked fine.

[2017-10-27 12:05] #468 closed

[2017-10-27 12:29] fhaverkamp opened #491 "libcblkblock: Block reserve mechanism not working optimal"
We saw some block reservations overlapping and cache entries being used by multiple
 requestors. This needs to be optimised, such that it works ok for us.

[2017-10-30 13:58] fhaverkamp commented on #481
A simple potential fix is to add SHELL=/bin/bash to the affected Makefiles. This way bash is chosen as shell and the -e messages will go away.

[2017-10-30 14:57] fhaverkamp opened #492 "CBLK: Write/read request time out when being used in parallel"
I am unsure if this is a hardware or a software problem. In case of Eberhards test-case with caching setup to a minimum, I see write but also reads not coming to an end. Let's have a look together to see what this might be caused by.

[code]

Testcase is Eberhards NVMe block test-case.

[2017-10-30 15:03] fhaverkamp commented on #492
In contrast to my own test case this is a situation where we have reads and writes going on in parallel. Interestingly I saw areas in the test case where just one read and one write was doing in parallel, even though the test case config said that it could use 8 threads. So there seems to be some sequential stuff going on. Regarding the LBAs used, I do not see increasing or decreasing sequences on

[2017-11-02 13:43] fhaverkamp commented on #492
Standalone test case with reads and writes in parallel. Shows same behaviour. Retries might help.

[code]

[2017-11-02 13:46] fhaverkamp commented on #492
Running on our testbed tul3.

[2017-11-02 13:47] fhaverkamp commented on #492
[code]

[2017-11-03 14:25] fhaverkamp opened #494 "CBLK: Performance is degrading when increasing the # threads above roughly 14"
With 1 thread and small buffers of 8KiB we get about 250-300 MiB/sec. We see good performance when using 4 threads up to 10-14: 800-900 MiB/sec. From there on the throughput seems not to stay where it was with 10-14 threads, but instead it degrades to roughly 550 MiB/sec. Would be good if we could explain why this is.

[2017-11-03 14:30] fhaverkamp commented on #494
![perf-kernel_16](https://user-images.githubusercontent.com/13523003/32378764-e5cf3808-c0ab-11e7-8bb6-e60e2790a695.png)
![perf-kernel_32](https://user-images.githubusercontent.com/13523003/32378765-e5ed7eda-c0ab-11e7-9b7f-3473b04829cc.png)
![perf-kernel_10](https://user-images.githubusercontent.com/13523003/32378766-e6065aea-c0ab-11e7-9037-e8df0a853c9c.png)
![perf-kernel_1](https://user-images.git

[2017-11-05 22:14] bmesnet opened #495 "HLS: while(1) loop is not doing a never ending loop"
HLS 2016.4 seems to not convert correctly the **_while(1)_** loop coded in C since it doesn't generate a never ending loop.
Circumvention is to use the following
**_while (A < MAX) {
 A = (A + 1)%MAX; }_**
=> need to recreate the issue and test it on latest HLS release

[2017-11-11 14:30] acastellane opened #501 "Configuration menu : save/load with non default name "config" doesn't work"
Hello,
When user saves its configuration with a different name than default "config", like "config01", it seems properly saved, since you can recall it (if no clean_config was performed?) , but the configuration you obtain when you exit is not a valid one, as it seems default "config" files are not written.
Proposal1 : Either inform user (not the best but the least we can do), or update also the d

[2017-11-13 16:59] bmesnet opened #502 "add the $SNAP_ROOT/software/tools to PATH variable"
To ease customer's experience, would it be possible to add the $SNAP_ROOT/software/tools to PATH ?
This would help using the **snap_maint** and the **snap_find_card** from anywhere in simulation but also while executing the action program on Power8 server
Thanks

[2017-11-14 14:15] boekholt commented on #502
What do you think would be the appropriate place to do that?

[2017-11-14 16:21] bmesnet commented on #502
@boekholt. Could this be done when setting/exporting the SNAP_ROOT variable ?

[2017-11-16 14:24] boekholt commented on #502
@bmesnet Pull request #505 is completed. Please close this issue if the change meets your requirements.
Thanks
Sven

[2017-11-16 14:29] bmesnet commented on #502
This is more than perfect and will help a lot the user. Thanks a lot @boekholt . Quick and efficient as usual. Thx. Closing the issue

[2017-11-22 11:14] ibm-genwqe opened #511 "Missing Action Test cases"
This issue is to track the missing test files for:

1.) ./actions/hls_sponge/tests/test_0x10141001.sh
2.) ./actions/hls_search/tests/test_0x10141003.sh
3.) ./actions/hls_helloworld/tests/test_0x10141008.sh
4.) ./actions/hdl_nvme_example/tests/test_0x10140001.sh

All Script files are called from "./actions/script/snap_jenkins.sh with "-C 0/1/2/3 and -d NORMAL"
parameters. Please push you code updat

[2017-11-29 17:41] #502 closed

[2017-11-29 18:47] joergkayser opened #520 "PSL9: testcases dont compile with PSLSE branch capi2"
see /afs/bb/proj/fpga/framework/CI_ws/SNAP_SIM_matrix/ACT/hdl_example/CRD/N250SP/SIM/irun
checkout from SNAP(RC_psl9_capi2.0) and PSLSE(capi2)

Warning from PSLSE:
 [CC]	 afu_driver.o
In file included from /afs/bb/proj/cte/tools/cds/Incisiv/15.20.s18/tools/include/svdpi.h:80,
                 from afu_driver.c:26:
/afs/bb/proj/cte/tools/cds/Incisiv/15.20.s18/tools/include/svdpi_compatibility.h:48:

[2017-11-30 08:26] ibm-genwqe opened #521 "SNAP: Time calucalation overflow"
Function tget_ms() in snap.c needs 64 bit time. Overflow did happen. Need to fix.

[2017-11-30 10:44] ibm-genwqe opened #523 "SNAP: snap_maint is not decoding all action types"
Please Fx

[2017-11-30 10:46] bmesnet opened #525 "README(s) need some clarifications"
In https://github.com/open-power/snap/blob/master/README.md#dependencies:
- typo : As of now, **two** FPGA cards can be used with SNAP: -> should be **three**
- can we separate what is needed for x86 environment and Power8 environment:
   + is libcxl downloadable for x86 dev environment from the link (or is it provided with PSLSE)?
   + dcp files + kconfig + pslse are for x86 only
   + capi-utils

[2017-12-01 14:42] jsvogt commented on #525
typo: np to change from "two" to "three" - Semptian was already added by @luyong6
There is no CAPI on x86, so the only libcxl there is for simulation, included in PSLSE
Why should a user ever set VPI_USER_H dir, or LD_LIBRARY_PATH manually? The time saving is already done, because the only environment settings that must be set by the user are in snap_env.sh: PSL_DCP and PSLSE_ROOT. For existing ac

[2017-12-01 22:55] kenhill opened #526 "MCS build: add Semptian NSA121B partition addresses"
https://github.com/open-power/snap/blob/master/hardware/setup/build_mcs.tcl#L23

The build_mcs.tcl hard codes the values for `user` and `factory` partitions. This does not look correct for boards other than ADKU3.

N250S
https://github.com/ibm-capi/capi-utils/blob/master/src/capi_flash_nallatech_user.c#L145

Semptian
https://github.com/ibm-capi/capi-utils/blob/master/src/capi_flash_semptian_user.c

[2017-12-04 09:46] jsvogt commented on #526
N250S is NOT using the capi_flash_nallatech_user.c, that's for the Altera version.
See the Makefile:
`capi-flash-NallatechKU60: src/capi_flash_ad7v3ku3_user.c`
That is the same as for ADKU3, and has been working nicely.
=> reject for N250S.

Rerouting to @luyong6 for Semptian

[2017-12-04 09:55] ibm-genwqe commented on #521
Merged into master

[2017-12-04 09:55] #521 closed

[2017-12-04 09:56] ibm-genwqe commented on #523
Code merged

[2017-12-04 09:56] #523 closed

[2017-12-04 09:59] fhaverkamp commented on #520
The error you mention here should have been fixed by the merge mentioned here:
    https://github.com/ibm-capi/pslse/commit/cf9db2dbfa0e463fe8bc8f33b3c568973c875d0e
Please have a look if you correctly updated pslse and let us know if the problem still persists.

[2017-12-04 10:03] fhaverkamp commented on #165
@luyong6 I fully agree, but I do not see how a fix is supposed to look like. The width of the AXI bus seems to be given and from an HLS perspective there is no way to set byte enables as an HDL based action might be able to do. The only thing in HLS which might allow that is using the build in memcpy(), but I think that is not a golden solution either, since it has so much trouble with castings. D

[2017-12-04 10:04] #109 closed

[2017-12-04 10:04] #166 closed

[2017-12-04 10:05] fhaverkamp commented on #55
Let me close this for now. We can reopen if it comes onto the priority list. But for now I do not see that.

[2017-12-04 10:05] #55 closed

[2017-12-04 10:05] #53 closed

[2017-12-04 10:05] #51 closed

[2017-12-04 10:06] #56 closed

[2017-12-04 15:36] luyong6 commented on #165
In my recent practice of a "customer" hash-join, I experimented some ideas like following:

- let S = sizeof(element_t), how many *bytes* does element_t have
- let N = number of elements wanted
- let M = number of elements in one batch of memory access

In theory, element_t can be any number of bits. Here we define it in bytes.
And assume there is an equation of
[code]

Here 512 is the AXI bus wid

[2017-12-05 06:28] luyong6 commented on #526
Hi Ken,
Semptian told me if using their own factory image (not CAPI one), they use Xilinx ICAP function to jump from address 0 to address 400_0000(byte) to load user image.

I have programmed two different *CAPI* image to address 0(image A) and address 400_0000(image B) but the working one is always image A. That means the factory image doesn't make a jump to the user image.

I looked at the code

[2017-12-05 09:58] jsvogt commented on #526
Xilinx Multi-Boot documentation (for BPI, there's another one for SPI) https://www.xilinx.com/support/documentation/application_notes/xapp1246-multiboot-bpi.pdf
ICAP is embedded in PSL and can be used to switch to the factory side. For this purpose, the PSL  sets the address to load from in ICAP and triggers a reload (search for wbstart_addr in PSL source). The addresses given to ICAP by PSL must

[2017-12-05 16:20] fhaverkamp opened #536 "Create Cntl+C/Abort Testcase for SNAP"
Let us create a script starting a snap_memcopy in parallel multiple times and doing an abort in the middle of that operation. The assumption is that we can use that to test the stability of the hardware/software implementation.

Goal is that the card is fine after running that test case, no reset required, no system reset needed.

If we can survive that test case we can move that to the Nimbix sce

[2017-12-05 16:47] fhaverkamp commented on #536
I added a branch to perform some experiments:
     https://github.com/open-power/snap/tree/SIM_Sudden_DEATH_Testcase

[2017-12-05 16:51] acastellane commented on #536
Sounds great.
Will you add a "ctl c" catch routine to the snap_mem_copy application under test ? to make it work on line ?
thanks.

[2017-12-07 10:18] fhaverkamp commented on #536
haver@tul3eth3:~/snap$ for ((i=0;i<100;i++)); do echo "ITERATION $i ........" ; ./actions/hdl_example/tests/10140000_kill_test.sh -k2 -p64 -c1 -r ; done
ITERATION 0 ........
********************************************************************
Parallel TEST for card 0 starting 64 processes
********************************************************************

Resetting card 0 (takes a while) .......

[2017-12-07 10:21] acastellane opened #539 "path documentation"
Hello,
Could we have a note on sourcing snap_path.sh ? as it is the minimum required to compile. (particularly in the case of deployment on POWER machines)
Could we also mention that these paths are automatically set when running any make XXX ?
thanks

[2017-12-07 10:29] fhaverkamp commented on #536
haver@tul3eth3:~$ uptime
 11:28:18 up 11 min,  1 user,  load average: 0.00, 0.01, 0.00
haver@tul3eth3:~$

Magic recovery without FSP involvement happened.

[2017-12-07 13:09] fhaverkamp commented on #536
During test run we see following messages on the systems console:

[code]

[2017-12-07 14:28] fhaverkamp commented on #536
![screen shot 2017-12-07 at 15 27 58](https://user-images.githubusercontent.com/13523003/33720138-49f2763e-db63-11e7-9e8f-a21c85e5f382.png)

[2017-12-07 14:33] fhaverkamp commented on #536
And here the potential "Übeltäter":

[code]

[2017-12-07 14:34] fhaverkamp commented on #536
haver@tul3eth3:~$ uname -r
4.4.0-98-generic

haver@tul3eth3:~$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

I hope we have a recent kernel on that box. It should be Ubuntu.

[2017-12-07 14:35] fhaverkamp commented on #536
'''
[ 2593.485180] ------------[ cut here ]------------
[ 2593.485182] WARNING: at /build/linux-1xsttn/linux-4.4.0/drivers/misc/cxl/native.c:866
[ 2593.485184] Modules linked in: xt_CHECKSUM iptable_mangle ipt_MASQUERADE nf_nat_masquerade_ipv4 iptable_nat nf_nat_ipv4 nf_nat nf_conntrack_ipv4 nf_defrag_ipv4 xt_conntrack nf_conntrack ipt_REJECT nf_reject_ipv4 xt_tcpudp bridge stp llc kvm_hv kvm_pr k

[2017-12-07 15:32] fbarrat commented on #536
From above, it seems the first sign of things going wrong is an EEH (timestamp 2612). We only have the last trace of it, i.e. the driver is resuming operation. I don't know the cause of the EEH. It could be a previous card reset. I can't tell.

Then the cxl driver receives a slice error interrupt:

[ 2612.583139] EEH: Notify device driver to resume
[ 2635.198410] CXL SLICE ERROR interrupt 456
[ 26

[2017-12-07 15:41] fhaverkamp commented on #536
[ 3597.925087] 	Unknown Core check stop.
[ 3597.925151] Fatal Hypervisor Maintenance interrupt [Recovered]
[ 3597.925230]  Error detail: Malfunction Alert
[ 3597.925296] 	HMER: 8040000000000000
[ 3597.925345] 	Unknown Core check stop.
[ 3609.540442] PCI: Memory resource 0 not set for host bridge /pciex@3fffe40400000/pci@0/device@0 (domain 7)
[    0.000000] opal: OPAL V3 detected !
[    0.000000] U

[2017-12-07 15:43] fhaverkamp commented on #536
@fbarrat The reset of the card is part of the test-procedure to recover it to normal operation. The EEH retry I am setting to a really high number. See also the test case.

[2017-12-07 15:46] fbarrat commented on #536
the "Unknown Core check stop" is meaningless in itself. It's just the HMI handler not finding the cause of the HMI. I seem to remember we used to see that message during a capi card reset (it has been fixed on recent kernels), because an HMI is raised in that situation.

We still see a few messages after, so something else happened just after. Either a kernel crash, or a real system checkstop, i.e

[2017-12-07 16:28] joergkayser commented on #520
I used the fix above and also removed all testcases, which align on 64B or have an odd #of 64B buffersize. This is needed, as P9 PSLSE does not support read_lock/write_unlock for this cases.
I now see timeout problems, which are related to PSLSE issue 91 (not responding with REORDER_PERCENT>0). I tried even with fastest.parms and still fail. Investigaiton underway

[2017-12-11 14:36] fhaverkamp commented on #536
I just merged the test-case into master:
    https://github.com/open-power/snap/pull/538

Please use that instead of the branch, if you like to repro what I did.

[2017-12-11 15:16] fhaverkamp opened #542 "Build: Cleanup for PSLSE missing"
We found that even though we build pslse/libcxl, we did not clean it up. So we missed to re-build the updated livcxl and stumbled into an error again. Adding pslse/libcxl cleanup to hardware/Makefile. That should fix this hopefully.

[2017-12-11 15:16] fhaverkamp commented on #542
https://github.com/open-power/snap/pull/541

[2017-12-11 17:03] joergkayser opened #543 "simulation of hdl_nvme_example: timeout writing into flash"
With action=hdl_nvme_example, I am trying to write 4kB into flash with snap_cblk -n1 -t1 -b1 --write asc.in -v and get timeout after 3x60sec. CBLK_REQTIMEOUT is set to 60sec.

sim output is:
NVMe device has 209715200 blocks of each 4096 bytes; 819200 MiB (MAX 0xc800000 blocks) @ 1 threads
Writing NVMe from asc.in
[check_req_timeouts] err: req[ 0]: WRITING 60/61 sec LBA=0 TIMEOUT
[check_req_timeout

[2017-12-12 07:55] joergkayser commented on #520
The update in pslse has fixed the compilation errors. I close this ticket and will work on other testcase issues seperately

[2017-12-12 07:55] #520 closed

[2017-12-12 09:44] acastellane commented on #511
Hallo,
in master, valid tests are now existing for hls_helloworld and hls_sponge.
Concerning hls_search, we need to refresh the example, so the test is a dummy one.
Regards.

[2017-12-12 13:45] fhaverkamp commented on #536
@acastellane joined group of persons who can reboot a System p with help of my test-script ;-).

[2017-12-12 14:46] joergkayser commented on #543
When running with SNAP_TRACE=0xF2, I get following msgs from snap_cblk:
R   hw_snap_mmio_read32(0x19b8010, f04c, 0) 0
R   hw_snap_mmio_read32(0x19b8010, f04c, 0) 0
R   hw_snap_mmio_read32(0x19b8010, f04c, 0) 0
R   hw_snap_mmio_read32(0x19b8010, f04c, 0) 0
R   hw_snap_mmio_read32(0x19b8010, f04c, 10) 0
B 0000469a.000046b3 1513086682627618     [completion_status] HW WRITE_COMPLETED 00000010 slot: 0

[2017-12-13 09:29] bmesnet opened #545 "Add the name of the action in the bitstream file name"
Is it possible to have the name of the action in  the bitstream name? This is simpler for a user to find in a glance what the bitstream file is related to (even if we can copy to the P8 server, then download it into the FPGA and then get the information with the snap_maint).

[2017-12-13 09:55] fhaverkamp commented on #542
Done.

[2017-12-13 09:55] #542 closed

[2017-12-13 09:56] fhaverkamp commented on #536
Frederick requested to run the experiment with xmon enabled, such that he can figure out if the reboot is triggered by a kernel problem or by a machine check. Let's see...

[2017-12-13 13:46] joergkayser commented on #543
please start investigating @ snap_cblk.c line 798, which produces the last trace msg:
printf(stdout, "Formatting of %lld bytes took %lld usec @ %.3f MiB/sec\n",
			(long long)num_lba * lba_size, (long long)diff_usec, mib_sec);
This is followed by rqueue_init, which contains pthread_mutex_init....... any sign of deadlock ?

[2017-12-14 14:38] joergkayser opened #548 "PSL P9 with S121B: snap_example timeout"
PSLSE=capi2 cc2d565 2017-12-13, SNAP=master ac0adf8 2017-12-12,
card=S121B (incl BRAM), action= hdl_example
snap_example -a2 -S1 -B0 -A4096 -t260 fails with timeout,
the output buffer shows '00 00' after address 0xc80.
AET is available under /afs/bb/proj/fpga/framework/jkayser/snap_master/hardware/sim/ies/20171214_151607

[2017-12-15 08:30] fhaverkamp commented on #491
Done.

[2017-12-15 08:30] #491 closed

[2017-12-15 13:25] fhaverkamp commented on #543
Formating should happen in --rw or in --format. Not in --write. When using --write you need to offer a file of the appropriate size. A block is 4KiB. So it needs exactly to be 4096 bytes (ls -l data.bin).
The code you mention is the --rw test. The mutex should not be problematic, it is used to determine the next block to read or write and each block is just read/written one time here. You have -n1

[2017-12-15 14:37] ThomasFuchs commented on #548
This is was a problem in the new DMA logic for P9P.

[2017-12-15 15:48] joergkayser commented on #543
The test pgm initializes with snap_nvme_init, and this runs fine
The error is in snap_cblk --format or snap_cblk --write, unrelated to the content of the input file
options="-n1 -t1"
for blk in 1 2;do p8=$((blk*8)); p4k=$((blk*4096));
        echo "generate data for $blk blocks, $p8 pages, $p4k bytes"
        step "snap_nvme_init -d0 -v"
        step "snap_cblk $options -b${blk} --format --pattern

[2017-12-18 09:13] joergkayser opened #551 "PSL P9 with S121B and XSIM: elaboration error"
Vivado 2017.2 calls xelab and reports a Warning
Running: /afs/bb/proj/fpga/xilinx/Vivado/2017.2/bin/unwrapped/lnx64.o/xelab --relax --debug typical --mt auto -L fifo_generator_v13_1_4 -L xil_defaultlib -L blk_mem_gen_v8_3_6 -L work -L unisims_ver -L unimacro_ver -L secureip -L xpm --snapshot top work.top work.glbl -log elaborate.log -sv_lib libdpi -sv_root .
Multi-threading is on. Using 54 slave t

[2017-12-18 13:28] fhaverkamp commented on #543
The blocksize for the snap_cblk application is not 512 bytes, but 4KiB. So we need bs=4096. Or is your  printout above not showing the * correctly?

[2017-12-18 13:41] fhaverkamp commented on #543
Just talked to Sven, he said a brock write needs more than 3 min, so the timeout needs for sim e.g. to be 5min. He reviewed our code and found that this might be reduced a little bit by shifting the position in the code where we take the time for the timeout measurement. But I claim that this will not do more than increasing the overall timeout.

Here is what he suggested:

[code]

[2017-12-18 15:01] joergkayser commented on #543
I increased the timeout to 6min and started snap_cblk. It got stuck at the same place and hung for one hour, before I killed the app. Please advise

[2017-12-18 15:39] fhaverkamp commented on #543
I checked if the real-world application works with the parameters you have set, to exclude of-by-one errors in the software.

[code]

Mhm, well. It works there nicely.

[2017-12-18 15:42] fhaverkamp commented on #543
Let us enable all the debugging with SNAP_TRACE=0xfff to see how far we come here. I am curious how much of the statistic printouts we get since those are done in the library destructor.

[2017-12-19 10:16] fhaverkamp commented on #492
[code]

[2017-12-19 11:35] joergkayser commented on #551
not seen anymore in branch fix_hdl_example. Thx

[2017-12-19 11:35] #551 closed

[2017-12-19 13:07] joergkayser commented on #543
Tested again with branch=RC_hdl_nvme_fix and got the hang situation with SNAP_TRACE=0xFF
see /afs/bb/proj/fpga/framework/jkayser/snap_nvme/hardware/sim/ies/20171219_135525

[2017-12-19 14:23] fhaverkamp commented on #543
http://bencane.com/2011/09/22/kill-creating-a-core-dump/

Can we automatically create a core dump by setting ulimits -c unlimited and sending a kill -3 $pid?
And at the same time set SNAP_TRACE=0xfff to get some more debug printout?

[2017-12-20 05:56] kenhill opened #555 "Disable ACTION_ROOT Check for cloud_merge"
`make cloud_merge` only requires the action netlist generated in `DCP_ROOT` by `make cloud_action`

Candidate fix in branch prflow_update

[2017-12-20 13:36] fhaverkamp commented on #543
https://github.com/open-power/snap/tree/SIM_improve_thread_safety should fix the issue.

[2017-12-21 12:55] joergkayser commented on #548
solved and merged into master

[2017-12-21 12:55] #548 closed

[2017-12-21 12:56] joergkayser commented on #543
fixed and merged into master

[2017-12-21 12:56] #543 closed

[2017-12-21 12:57] joergkayser commented on #327
NVMe running fine with 2017.2

[2017-12-21 12:57] #327 closed

[2018-01-02 07:44] luyong6 opened #563 "KConfig fails with new gcc version"
Currently the gcc on bb server is version 4.4.7 20120313 (Red Hat 4.4.7-3)

But If we run with gcc (4.8.2) or above, kconfig would fail with the following error message:

make -C /afs/awd.austin.ibm.com/usr/u9/shgoupf/capi/snap/scripts/build -f GNUmakefile TOPDIR=. SRCDIR=. KBUILD_KCONFIG=/afs/awd.austin.ibm.com/usr/u9/shgoupf/capi/snap/scripts/Kconfig menuconfig/opt/rh/devtoolset-2/root/usr/libex

[2018-01-10 05:28] bmesnet opened #565 "make model fails if outdated PSL_DCP (for N250S)"
On SuperVessel, with PSLSE tag v3.1 + latest SNAP ( e0301af), when selecting the N250S which has an old PSL_DCP, the **make model** fails
make[4] :  *** check_snap_settings Error 1
...
Problem doesn't appears with KU3 which has a correct PSL_DCP

[2018-01-10 17:06] bmesnet opened #567 "PSLSE latest release prevents SNAP from working ok"
PSLSE latest release ( c65870f) prevents SNAP from running since new variables (MAJOR_VERSION  / MINOR_VERSION) have been created and are not supported by SNAP yet.
**CIRCUMVENTION :** Using tag v3.1 from PSLSE solves the issue (git checkout v3.1)
**SOLUTION :** How can we work with PSLSE to never impact SNAP ? working with known PSLSE levels documented in SNAP Readme.md near the dependencies PSLS

[2018-01-10 17:31] joergkayser commented on #567
Bruno, this is a known issue with the current master branch from PSLSE, and this is documented in our README:

PSLSE setup
The SNAP framework's simulation depends on the PSL simulation environment (PSLSE).
You may clone PSLSE from github https://github.com/ibm-capi/pslse.
⚠️ Currently (as of Dec 2017) the following PSLSE GIT branches are necessary:
    v3.1 (an older but stable master version) for

[2018-01-10 18:10] bmesnet commented on #567
Thanks Jörg
Can you point me to the README.md you are referring to ?  i looked to both of README.md and didn't find your reference to v3.1.
https://github.com/open-power/snap/blob/master/README.md
https://github.com/open-power/snap/blob/master/hardware/README.md
Can we add a comment in master/README.md where the link to pslse is displayed so that no ambiguity remains ? Thx

[2018-01-11 09:56] fhaverkamp commented on #492
I do not see failures with the latest code. One fix I needed in my read/format test case where I accidentally deleted the code which wrote the output file.

See here: https://github.com/open-power/snap/pull/569

[2018-01-11 09:56] #492 closed

[2018-01-11 09:57] fhaverkamp opened #570 "CBLK: Testcase failed because output file was not written"
The following change fixes the anciently deleted spot in the code which is needed to write the output file needed for the test-case to succeed.

See here: https://github.com/open-power/snap/pull/569

[2018-01-11 09:57] #570 closed

[2018-01-11 13:45] boekholt commented on #565
Thomas is currently changing the way of how we are handling the PSL DCP in the creation of XILINX project during the build process.
That will solve this issue.

[2018-01-11 14:04] joergkayser opened #571 "SW: compile error in snap.c"
see /afs/vlsilab.boeblingen.ibm.com/proj/fpga/framework/CI_ws/vol2/SNAP_SIM_matrix/master/ACT/hdl_example.NORAM/CRD/N250SP/SIM/irun/snap/software

make[1]: Entering directory `/afs/vlsilab.boeblingen.ibm.com/proj/fpga/framework/CI_ws/vol2/SNAP_SIM_matrix/master/ACT/hdl_example.NORAM/CRD/N250SP/SIM/irun/snap/software/lib'
	[CC]	snap.o
snap.c: In function '_init':
snap.c:1269: error: expected expres

[2018-01-11 14:31] joergkayser commented on #571
works again. Thx

[2018-01-11 14:31] #571 closed

[2018-01-11 14:40] joergkayser commented on #567
The master/README.md shows following and points to hardware/sim/README.md:
For simulation, SNAP relies on the xterm program and on the PSL Simulation Environment (PSLSE) which is available on github: https://github.com/ibm-capi/pslse
Simulating the NVMe host controller including flash storage devices requires licenses for the Cadence Incisive Simulator (IES) and DENALI Verification IP (PCIe and NV

[2018-01-11 14:47] joergkayser opened #575 "Vivado 2017.4: irun elaboration error"
In order to debug Vivado 2017.4 for all cards, I moved the Jenkins compiles for Action=hdl_example.NORAM to this version. The XSIM model build runs fine for ADKU3, N250S and S121B.

But the Cadence irun elaboration fails with 2 macros:
ncelab: *E,CUVMUR (hardware/ip/ram_520x64_2p/sim/ram_520x64_2p.v,169|7): instance 'top.a0@psl_accel(psl_accel):snap_core_i@snap_core(snap_core):dma@dma(dma):dma_buf

[2018-01-12 09:40] joergkayser commented on #575
@ThomasFuchs thank you for regenerating the Cadence library without compiling IPs in Vivado 2017.4
The compile in Cadence during model build works

[2018-01-12 09:40] #575 closed

[2018-01-12 10:29] bmesnet commented on #567
Thanks Jörg. This is exactly what I missed.
I would so just add in [snap/README](https://github.com/open-power/snap/blob/master/README.md)
_For simulation, SNAP relies on the xterm program and on the PSL Simulation Environment (PSLSE) which is available on github **(For more info see the [PSLSE setup](https://github.com/open-power/snap/blob/master/hardware/sim/README.md#pslse-setup))**:_

    http

[2018-01-12 11:01] jsvogt commented on #567
The top README already contains a note which links to the sim README:
For more info see the [Simulation README](https://github.com/open-power/snap/blob/master/hardware/sim/README.md)
The sim readme then contains the hint with a :warning: sign.
Isn't that sufficient?

[2018-01-12 15:54] joergkayser opened #578 "Vivado 2017.4: compile errors in hls_intersect"
when calling 'make' in actions/hls_intersect/hw, I get following compile errors with Vivado 2017.4:

****** Vivado(TM) HLS - High-Level Synthesis from C, C++ and SystemC v2017.4 (64-bit)
  **** SW Build 2086221 on Fri Dec 15 20:54:30 MST 2017
  **** IP Build 2085800 on Fri Dec 15 22:25:07 MST 2017
    ** Copyright 1986-2017 Xilinx, Inc. All Rights Reserved.

source /afs/bb/proj/fpga/xilinx/Vivado/

[2018-01-12 18:51] #555 closed

[2018-01-13 12:21] luyong6 commented on #578
Where is Vivado_HLS 2017.4 installed? I just see 2016.4 and 2017.2 installed under ......./fpga/xilinx/Vivado_HLS

[2018-01-14 19:45] ThomasFuchs commented on #578
Vivado_HLS is now part of the "normal" Vivado installation and can be started with vivado_hls.

[2018-01-15 06:32] luyong6 commented on #578
Got it now. The issue is caused by new HLS doesn't recognize a data structure in C. I have to split the header file to "action_xxxxxx.H" for *hardware action* and "action_xxxxxxx.h" for *software action* and "action_xxxxx_common.h" for *both of them*. Fixing now.

[2018-01-16 02:13] #578 closed

[2018-01-16 09:52] fhaverkamp commented on #536
Today I tried Svens latest bitstream and did some manual testing. Here is what I saw so far:

[code]

I increased the size gradually to get a long enough runtime to press Cntl+C manually. After aborting the data transfer that way the card turned to be unusable and not even snap_maint was capable to recover it. Just echo 1 > reset might help here.

[2018-01-16 09:59] fhaverkamp commented on #536
*** Recovery procedure

Unexpected program abort, which might happen if Cntl+C or any other unexpected program conditions occur, e.g. not handling a signal, programming errors, leading to sudden program abort or alike can cause the CAPI card not being accessible anymore. See tests above.

To recover the card one can try the following as super-user:

[code]

Now wait a little until the card has per

[2018-01-16 13:32] fhaverkamp opened #581 "NVMe Support: Timeout problem with >= 16 threads in parallel"
Our automatic regression test system showed a timeout problem using more or equal 16 read threads at a time. This is done with our latest hw/sw change where we allow all slots used for read or write. We need to figure out if the observed problem is caused by changes in the software or hardware or a combination of both. Waiting for a new bitstream, since the mentioned one was accidentally deleted.

[2018-01-16 14:05] fhaverkamp commented on #563
I installed a recent CentOS version in a docker container and tried to do a make snap_config ; make menuconfig. It complained a little bit about missing packages initially, but after I had installed them e.g. kernel-build and ncurses-devel, it was able to build the menuconfig system.

In your case it appears as if the linker (collect2) is unable to link all code properly together. Can you see whic

[2018-01-16 14:06] fhaverkamp commented on #563
[code]

[2018-01-16 14:07] fhaverkamp commented on #563
[code]

Looks working for me.

[2018-01-16 15:36] fhaverkamp commented on #581
Some results from trying out things: I see 15 threads working nicely, but as soon as I am using 16 or more it starts failing. When setting busy and req timeout to the same value, we get a timeout on the busy which causes the calling process to fail. If we would set the req timeout lower, we might get away with retries, but that is not really helpful to get to the bottom of this problem.

[2018-01-16 15:40] fhaverkamp commented on #581
[code]
It appears as if the whole set of requests slots is not finishing. Here I have set the req to 2 sec and busy timeout to 5. That causes repeating the req and the busy is not timing out leaving the calling process be happy, but 2 sec slower. I think it might make sense to review now the hardware too. The software I have reviewed, I did a little change, but that should not be the cause of the

[2018-01-16 15:46] fhaverkamp commented on #581
When I limit the possible requests to 15:
[code]
I see the tests passing.

[2018-01-16 15:53] fhaverkamp commented on #581
https://github.com/open-power/snap/pull/582

[2018-01-16 16:26] joergkayser opened #584 "SR10424183: P9 N250SP xsim elaboration core dump"
XSIM fails elaborating the design on N250SP and produces a core dump.
SR10244183 has been written to Xilinx, as no other msgs point to the error.
In this analysis Xilinx was able to reproduce the problem and analyze the error on Viv2018.1
Here the syntax checker points to following sources:
CRITICAL WARNING: [HDL 9-806] Syntax error near "d0h_req_utag". [/home/amaccre/SR10424183/snap_sr10244183/ha

[2018-01-17 16:00] joergkayser opened #586 "tul2 hang with N250S in reset after flash programming"
---- Wed Jan 17 13:19:46 CET 2018---- Executing: ./actions/scripts/snap_jenkins.sh -D SNAP_IMG_TEST_matrix-ACT-hdl_nvme_example.BRAM.NVME-CRD-N250S-99-origin-master -F /opt/fpga/snap/N250S/hdl_nvme_example.BRAM.NVME/fw_2018_0117_1146_NVME_BRAM_N250S_19.bin -A N250S
Using Accel : N250S
Using Image : /opt/fpga/snap/N250S/hdl_nvme_example.BRAM.NVME/fw_2018_0117_1146_NVME_BRAM_N250S_19.bin
Source PATH

[2018-01-17 16:20] kenhill commented on #586
This sounds similar to the perst issue being addressed with the new PSL checkpoints. The fix is included in checkpoints with PSL revision level 5.

This command can verify the revision level on the adapter:
`sudo setpci -s <pci-slot> 40C.B `

[2018-01-17 16:40] joergkayser commented on #586
not sure, if the machine is really ready to test... Jenkins still hangs, and I don't want to just cancel all IMG_TEST jobs... wait for Eberhard to check status

[2018-01-17 16:59] ThomasFuchs commented on #586
This should be a image with the new PSL checkpoint... wait for Eberhard to check

[2018-01-18 10:17] ibm-genwqe commented on #586
I did Check with:
"cat /sys/class/cxl/card0/psl_revision" for Card 0
We do get 12293 which is 05 30. The 05 is the value from offset 40C and 30 is from 40D.
Both Cards on are reporting PSL Version 05.
Previous PSL was "16386" which is 02 40.

[2018-01-18 13:56] ThomasFuchs commented on #584
please close

[2018-01-22 02:48] shgoupf commented on #563
Hey Frank,

Thanks for your information.

However, I still have the following error in my env, as below:

ERROR:
[code]

libtinfo:
[code]

gcc version:
[code]

[2018-01-22 10:12] fhaverkamp commented on #536
Results of todays testing of RC_llcmd branch containing Svens and Eberhards latest changes.

[code]
First I see is that reconnection after aborting is still not possible.
[code]
So we get a timeout when trying to attach the action. Last time we tried it was not able to open the card at all. So that is a change/improvement over the last experiment.

[2018-01-22 11:25] fhaverkamp commented on #536
dmsg looks like this, to whom it may concern. I do not see any spectacular hint what is wrong:

[code]

[2018-01-22 12:23] bmesnet commented on #565
Corrected and tested ok. Thanks

[2018-01-22 12:23] #565 closed

[2018-01-22 13:20] fhaverkamp opened #589 "CBLK: Too high timedifference is producing false timeout"
We see the following in our test case:
[code]
It indicates that under certain conditions the timeout difference calculation is using illegal values for one or the other parameter (start time or current time). Further debugging showed that we get a req->stime of all 0. This in turn might indicate a problem with consistent access to the req data-structure.

I strongly assume that this is a different

[2018-01-22 13:25] fhaverkamp commented on #589
I like to try to use a lock in static int check_req_timeouts(struct cblk_dev *c, long int timeout_sec)
to see if that helps to access the req struct more consistently, since if ordering in the setup code is mixed up by the CPU we might look at a req with a status of READ/WRITE where the stime variable might not be setup yet.

[2018-01-22 15:31] fhaverkamp commented on #589
https://github.com/open-power/snap/pull/582/commits/a91e943b2902b3e720613263c5f851e4bcf14ad6 hopefully fixes the issue.

[2018-01-23 12:43] #589 closed

[2018-01-23 12:44] #581 closed

[2018-01-23 12:44] fhaverkamp commented on #581
Sven found a solution where we could use 16 slots again and fixed the hardware accordingly.

[2018-01-23 12:48] fhaverkamp commented on #563
Can you describe your environment a little bit? Why is the compiler installed in /opt..../root/usr/bin is that a normal installation or something special? Can I try this out myself, such that we can look at the issue together?

[2018-01-23 13:26] shgoupf commented on #563
Hey, this is from Austin AFS (EOD/LSF) machine, for which I believe you should have access. The reason for using a gcc in /opt/... is because the version in gcc distro is pretty old. This is a standard usage from AFS based LSF machines.

[2018-01-25 08:12] fhaverkamp commented on #563
Did you try to use a consistent updated Linux distribution? I mean supporting mixed stuff like old distribution with new extra installed compiler seems a little overkill to me and endless matter of issues e.g. libraries not really matching for the task you like to do. What do you think?

@shgoupf Nice update to your identity page with cool picture. Thanks.

[2018-01-25 08:31] shgoupf commented on #563
@fhaverkamp , Hey Frank. Thanks for your time on this. I have to admit that the problem is not reproducible on other stable linux distros (like ubuntu) with new gcc versions (such as 4.9.2). Seems like it is  a problem specific to the distro combination and gcc version on EOD/LSF.

I am OK to leave it as it is and let's focus on other more important issues.

Thanks again.

[2018-01-25 09:46] #54 closed

[2018-01-25 09:47] #481 closed

[2018-01-25 09:51] fhaverkamp commented on #494
Putting this to low priority queue.

[2018-01-25 09:51] #494 closed

[2018-01-25 09:52] joergkayser commented on #584
This bug is still available in Vivado 2017.4 and followed up by Xilinx under SR10424183. The problem exists in Viv2017.4 and seems to be solved in Viv2018.1. As the release of 2018.1 is too late, I requested a patch for 2017.4

[2018-01-25 12:44] joergkayser opened #593 "XSIM error with DRAM models in Viv2017.4"
Models are built fine, but xsim fails with "WARNING: file bd_2a05_second_lmb_bram_I_0.mem could not be opened" and produces a core dump. This affects all models with DRAM (hdl_example, hls_memcopy, hls_intersect, hls_search, hlshashjoin) and all cards (ADKU3, N250S, S121B)

After changing TARGET_LANGUAGE=VHDL (back brom VERILOG), simulation is able to execute

[2018-01-25 14:39] jsvogt commented on #280
Replaced by statistics collected by Jenkins.
Closing this issue.

[2018-01-25 14:39] #280 closed

[2018-01-25 14:41] jsvogt commented on #563
So, can this issue be closed as invalid?

[2018-01-25 16:05] jsvogt commented on #536
Testcase is done, just new test results. Let's close this. If other new bugs show up during testing, please open a new issue.

[2018-01-25 17:18] joergkayser opened #594 "SR10425632: Viv2017.4 XSIM error in cycle0: *.mem not found, core dump"
error in XSIM for all models with DRAM. Error only, if model was built with TARGET_LANGUAGE=VERILOG
SR10425632 written to Xilinx, using branch=XILINX_SR for repro

circumvention for this models is to use TARGET_LANGUAGE=VHDL
this can be found with grep --include=*.tcl -ir TARGET_LANG .
./hardware/setup/create_framework.tcl:set_property target_language VERILOG [current_project]
./hardware/setup/cre

[2018-01-26 03:23] luyong6 commented on #563
Yes, thanks all.

[2018-01-26 03:23] #563 closed

[2018-01-26 09:28] joergkayser commented on #586
Machine works fine again, closing

[2018-01-26 09:28] #586 closed

[2018-01-26 09:43] joergkayser commented on #594
duplicate to #593

[2018-01-26 09:43] #594 closed

[2018-01-26 09:53] ThomasFuchs opened #595 "SR10425602: SDRAM BITSLICE placing problem in 2017.4 (fixed in 2018.1)"
If I try to build a SNAP image with SDRAM in vivado2017.4 I see placer errors.
The same flow / design works perfectly with vivado 2016.4

I have made a git branch that allows you to reproduce the problem, independent from the SNAP master branch.

git clone https://github.com/open-power/snap.git
git checkout fde63acec0ab75a8d0334180e91ff4cc20be03b5

Error:
Phase 1.2 IO Placement/ Clock Placement/ B

[2018-01-26 09:57] ThomasFuchs opened #596 "SR10425625: NVME, empty axi_pcie3_0_0_pcie3_ip.v in vivado 2017.4"
NVME create_framework.tcl fails

I have made a git branch that allows you to reproduce the problem, independent from the SNAP master branch.

git clone https://github.com/open-power/snap.git
git checkout 2eab42575353b58670791c936265aafc1423d12d

[2018-01-26 09:59] ThomasFuchs opened #597 "SR10425697: NVME, export_simulation fails in 2017.4"
NVME simulation model build fails:
 I am using the "same"  command in 2017.4 as in 2016.4. It fails in 2017.4 with a strange message.

2016.4:
xport_ip_user_files -no_script -force
export_simulation  -lib_map_path "/afs/vlsilab.boeblingen.ibm.com/proj/fpga/framework/ies_libs/viv2016.4/ies15.10.s19" -force -directory "/afs/vlsilab.boeblingen.ibm.com/proj/fpga/framework/tsfuchs/snap.2016/hardware" -

[2018-01-26 13:35] fhaverkamp commented on #536
Should be fine to close this.

[2018-01-26 13:35] #536 closed

[2018-01-26 13:38] fhaverkamp commented on #539
For simulation we set the path's such that the binaries and libraries can be found automatically. In the application binaries we are setting the rpath such that the shared libs can be found automatically too. So I wonder what is left over, since I believe you documented the use of snap_path inclusion in the Nimbix documentation to make calling the applications and finding the libraries more conven

[2018-01-26 15:53] joergkayser commented on #584
changing hardware/hdl/core/dma_buffer.vhd helps fixing the xelab core dump, but simulation fails similar to the problem described in SR10425632. Investigations ongoing

[2018-02-01 13:17] acastellane opened #603 ""make snap_config" exit without saving"
Hi,
when you leave the SNAP configuration menu without saving, you don't expect the configuration to change anything.
Can we suppress any action when leaving without saving ?
It can be useful when you want to double check after an image is being build.
Thanks
AC.

[2018-02-01 17:22] bmesnet opened #607 "SR10426813: cannot display waveform signals outside the top level, while xsim is running"
When opening the xsim simulator, multiples warnings as the following one:

Vivado Simulator does not yet support tracing of VHDL variables.

It is confirmed that none of the waveform of signals outside the top can be displayed

[2018-02-01 18:53] joergkayser commented on #603
Hi @acastellane, this is already true today.
The timestamp of the config files may be changed/touched earlier, but the content of the config files only changes with saving.

[2018-02-01 20:38] ThomasFuchs commented on #607
Hello Bruno,
a VHDL **variables** could not be displayed in XSIM nor in IES. This works as expected. Please do not mix VHDL **variables** with VHDL **signals**!!

[2018-02-02 08:30] bmesnet commented on #607
ok Thomas agree. My apologize! you are perfectly right, please forget about the warning messages related to variables, BUT......i'm still not able to display a waveform of any **signal** if they are not at the top level with xsim while i can easily do it with irun.
For example : no signal from DMA core is displayable with xsim while it works ok with irun
Is there a setting i'm missing ?

[2018-02-02 08:30] joergkayser commented on #584
SR10424183 was closed, as the VHDL syntax was rewritten. Discussions still ongoing, whether this (partial assignment in the port map) is valid or not. Keeping this ticket open until that discussion is finished

[2018-02-02 10:39] acastellane commented on #603
OK let be more precise, I make image today evening, tomorrow I come back, want to recall my settings with a nice looking menu I'm used to (no manual file edition please), exit no save, I loose my simulation data and my built file. no save => no action :=)

[2018-02-02 10:46] fhaverkamp opened #609 "CBLK: Fix usability issues of snap_cblk"
Help message needed improvement.
Behaviour when -n <N> was not set was not optimal.
Document deficiencies when N is selected too large or not at all.

[2018-02-02 11:08] boekholt commented on #603
I'll look into saving the original config file and compare it to the generated file after execution of kconfig.
In case they do not differ the clean process will be skipped.

[2018-02-05 09:17] ThomasFuchs commented on #596
I have found a solution that allows me to let the target language in VHDL, but use Verilog files in my simulation. The SNAP project are using two TCL scripts that creates the Vivado project. The NVME and the framework TCL. The target language in the framework TCL is VHDL und unset in the NVME TCL. The root cause of the problem was, that I created the output products for the NVME design with the fr

[2018-02-05 09:43] #609 closed

[2018-02-05 10:48] joergkayser opened #612 "Sim error in snap_example on N250SP with DRAM"
When running N250SP with hdl_example and DRAM, we get errors from snap_example and snap_example_set. This is with SNAP=master, PSLSE=capi2, Vivado 2017.4, sim=irun
Some test run fine like
snap_example -a1
snap_example -I -a2 -S1 -B0 -A256 -t600
snap_example -a2 -S0 -B2 -A4096 -t400
snap_example -a2 -S0 -B24 -A4096 -t400
snap_example -a2 -S1 -B0 -A4096 -t800
snap_example -a2 -S1 -B2 -A4096 -t800
sn

[2018-02-05 21:05] ThomasFuchs opened #613 "SR10426478: The simulation model does not include the logic inside a partition definition area"
Hi,
I create the SNAP project with a few tcl scripts. If I create the project with 2016.4 the files from the action are included into sim (first picture). On the second picture you see that the files no longer exists. If I make a export_simulation to simulate outside Vivado, the action files are not part of my simulation model. How could I simulate my logic with 2017.4?

Below a short description

[2018-02-06 07:34] joergkayser commented on #612
The directories have been renamed to keep them for debug:
/afs/bb/proj/fpga/framework/jkayser/snap_612/hardware/sim/ies/20180205_112927 (snap_example_set)
/afs/bb/proj/fpga/framework/jkayser/snap_612/hardware/sim/ies/20180205_113404 /snap_example -a2)

[2018-02-06 08:14] joergkayser commented on #607
I built an xsim model in Vivado 2017.4 with KU3,hdl_example,DRAM and ran snap_maint and some small app.  I was able to see signals from different units (jobmgr, dma, ...) in the waveform viewer, when running 'xsim top.wdb -gui' from hardware/sim/xsim/latest. This is the directory, where top.wdb resides.
So I cannot reproduce your problem.

There is a core dump, which is created, after I finish xsi

[2018-02-06 10:18] joergkayser commented on #607
SR10426813 written to Xilinx to get guidance for the "real-time waveform update" feature.

[2018-02-06 10:18] bmesnet commented on #607
Thanks to sharing the way we work, we understood the issue.
There is no issue to display waveforms if the **xsim gui** is opened once the simulation completed.
All the tests done  to display waveforms interactively during the simulation, to reload the top.wdb file (which size is increasing in size) drives to the same "no waveforms values displayed" keeping a 6ps width displayed screen.
Closing the

[2018-02-06 15:20] ibm-genwqe opened #615 "BUG: Error on NVME Drive 1"
Testing snap_example on NVME drive 1 fails;
Failing command: "./actions/hdl_example/sw/snap_example_nvme -C 0 -d 1 -b 1 -v"
NVME Test: Snap Card: /dev/cxl/afu0.0s Timeout: 1 sec NVME Drive: 1 Handle: 0x10025f80010
Host: 0x10025f82000 / 0x10025f83000 DDR: 0x0 / 0x200
    Drive: 1 Size: 0x200 Addr: 0x0 LB: 1 (0x1) BS: 512 (0x200)

        DDR <- HOST
        NVME <- DDR Error: Timeout while Waiting

[2018-02-06 16:14] joergkayser commented on #612
Sorry, something/someone deleted the model andd sim output. Here it is again:
/afs/bb/proj/fpga/framework/jkayser/snap_612/hardware/sim/ies/20180206_170521/ (snap_example_set)

[2018-02-08 13:39] jsvogt opened #619 "Enable the 2nd DRAM controller for ADKU3 and S121B cards"
These cards have two separate DRAM channels. Therefore they need two MIG cores to drive the I/Os, otherwise the action can only access 1/2 of the available memory. In the past this effort had been prevented by the PSL DCP blocking DRAM I/Os.
There are two options to support DRAM on these cards (TBD):

a) Combine the two AXI buses with AXI interconnect.
=> No change to action wrapper, as the action

[2018-02-08 16:42] jsvogt commented on #525
I just merged the updated image build instructions into master.
More updates to the Bitstream_flashing.md are in branch DOC_flashing.
https://github.com/open-power/snap/compare/DOC_flashing

[2018-02-13 11:07] bmesnet commented on #263
This bug has been confirmed as corrected by Xilinx in release Vivado HLS 2017.4
Closing the issue

[2018-02-13 11:07] #263 closed

[2018-02-13 11:09] bmesnet commented on #320
Xilinx has corrected inn HLS 2017.4 the following bugs
    CR-979089 - Vivado HLS ignores the max_read(write)_burst_length of the INTERFACE pragma
    CR-978469 HLS: address bits lost when using hls memcpy to copy only one 512bits word
The following bug was not corrected yet, but this is more a default value rather than a bug => closing the issue
    CR-979084 - memcpy: Vivado HLS by default split

[2018-02-13 11:09] #320 closed

[2018-02-13 11:10] bmesnet commented on #495
Unable to reproduce it. Will reopen when facing it again

[2018-02-13 11:10] #495 closed

[2018-02-13 11:12] bmesnet commented on #525
closing issue since correction done

[2018-02-13 11:12] #525 closed

[2018-02-13 11:31] bmesnet commented on #432
Summarizing items discussed in this issue:
1.  Can we rename snap/actions to snap/examples since application and actions are now under this directory? **WON'T FIX**
2.  Can we have defined 0x1=cpu and 0x0=fpga so that SNAP_CONFIG=cpu will be more explicit than SNAP_CONFIG=0x1? **DONE**
3.  Can all tools checking or displaying Action Types (snap_maint, make snap_env) read the Type from the ActionTy

[2018-02-13 13:24] bmesnet commented on #567
Changes done. Closing the issue

[2018-02-13 13:24] #567 closed

[2018-02-13 14:32] acastellane commented on #539
I agree it is not convenient to make a note. It is useful to just source snap_path when we want to run a script like snap_find_card, which does not require any compilation. So user's guide will take this into account.
Thanks

[2018-02-13 14:32] #539 closed

[2018-02-13 15:09] boekholt commented on #596
Reopening, since this fix does break NVMe link initialization in simulation.

[2018-02-14 08:39] bmesnet commented on #432
Code implemented. Closing issue

[2018-02-14 08:39] #432 closed

[2018-02-14 11:29] boekholt commented on #603
Pull request #624 got just merged. This pull request is addressing this issue.

@acastellane please close this issue if you are ok with the solution.

Thanks

[2018-02-14 13:41] boekholt commented on #501
kconfig is a standalone tool that the SNAP config make process and scripts are using as is. The SNAP scripts have no means to detect that the user did save a configuration into an alternate file. I also do not see a way to prevent the kconfig tool from allowing that w/o changing the kconfig sources (which we do not have in our hands).
In other words: I do not see a solution for your issue.

[2018-02-14 15:06] acastellane commented on #603
What you propose is a good trade off, some snap files are "refreshed" (same content with a new file date) but existing solutions are not erased.
It allows to use the SNAP "kconfig" menu to double check a configuration after a while.
Thanks

[2018-02-14 15:06] #603 closed

[2018-02-15 14:58] ibm-genwqe opened #628 "HLS: HLS HashJoin Says BUS Error"
Image was:
/opt/fpga/snap/ADKU3/hls_hashjoin/fw_2018_0215_0958_noSDRAM_ADKU3_28.bin
SNAP on ADKU3 Card, NVME disabled, 0 MB SRAM available.
SNAP FPGA Release: v1.3.2 Distance: 5 GIT: 0x6b5679a0
SNAP FPGA Build (Y/M/D): 2018/02/15 Time (H:M): 09:58
SNAP FPGA CIR Master: 1 My ID: 0
SNAP FPGA Up Time: 1 sec
   0 Max AT: 1 Found AT: 0x10141002 --> Assign Short AT: 0
     0     0x10141002     0x0000002

[2018-02-19 13:06] boekholt commented on #612
We have not yet prepared N250SP for SDRAM use.
I'll add the necessary resources.

[2018-02-19 16:10] joergkayser commented on #607
Status update Feb16 from Xilinx for this request:
I don't believe it is possible to have two instances of Xsim read the same database concurrently, but I am still awaiting a definite answer. I'll push again this morning. It may be something that could be included in a later release of the tools. As soon as I receive a reply either way I will be in touch.

This means: run_sim opens one xsim session

[2018-02-19 17:12] bmesnet commented on #607
Well, being able to display dynamically the data that are being generated is what irun does. I guess they are indeed able to open 2 instances and manage that.
But this is right. If the issue with xsim is that 2 instances may not be able to run the same waveform it may be just the way we use it. We need to try that differently and see what we can do
But if xsim could work as irun, meaning able to l

[2018-02-20 14:12] joergkayser opened #630 "HLS_memcopy hangs after timeout"
when running hls_memcopy on any card, the application snap_memcopy hangs, and even after the application timeout of 60sec the app still hangs, until Jenkins kills the session (after 300min or more).

The SNAP_TRACE shows the  60sec timeout and 2 more commands, before it hangs
err: job execution -6: Timer expired!
D snap_detach_action Enter
D hw_detach_action Enter Action: 0x10141000 Base: f000 tim

[2018-02-20 14:52] joergkayser commented on #630
The directory /afs/bb/proj/fpga/framework/jkayser/snap_hls_memcopy/hardware/sim/ies/20180220_151441 is better for analysis, as the waveform is complete from start to end. It was built with PSLSE v3.1 and shows the same behavior.

[2018-02-20 15:07] joergkayser commented on #630
The error must have been introduced between Jan31 (PortMap works) and Feb2 (SR10425625 fails). Since then all Jenkins runs show "aborted", which is the Jenkins answer to the maximum timeout limit.
SR10425625 switched the target_language from VERILOG to VHDL. Is this the root cause ?

[2018-02-20 16:03] joergkayser opened #632 "N250SP+SDRAM: snap_example_ddr throws core dump"
SNAP branch: sdram4n250sp
core dump info: snap_example_ddr: double free or corruption (out): 0x0000000001a86000
gdb backtrace:
Core was generated by `snap_example_ddr -i1 -b448 -s2475 -e2923 -t412'.
Program terminated with signal 6, Aborted.
#0  0x0000003faec32625 in raise () from /lib64/libc.so.6
(gdb) bt
#0  0x0000003faec32625 in raise () from /lib64/libc.so.6
#1  0x0000003faec33e05 in abort ()

[2018-02-21 08:23] joergkayser commented on #615
with the latest branch=nvme_patch_patch we now see the same error in SIM

[2018-02-21 13:10] bmesnet commented on #628
Good shot. Duplication of a snap_detach call in the snap_hashjoin application
Code corrected in branch SNAP_documentation. Pull request follows

[2018-02-21 16:13] jsvogt opened #637 "Fallback to factory partition doesn't work"
When the user image bin file is 0 bytes accidentally the flasher will erase the user partition (separate issue for flasher tool). After a reset, the card then does not recover from the factory partition.
Flashing both partitions with a mcs file again repairs the card.
Tested on an A-D KU3 card.

=> Debug if this is caused by an unreliable `echo 1 > /sys/class/cxl..../reset` or if the Multiboot Fal

[2018-02-21 16:48] joergkayser commented on #637
The problem was most likely introduced by Jenkins due to an AFS_full condition. The zero_Byte file was xferred to the test station and programmed.
Future Jenkins runs will validate a minimum size before xfer&test and error_exit, if not

[2018-02-21 18:42] bmesnet commented on #628
Pull request #638

[2018-02-22 12:22] bmesnet commented on #628
@ibm-genwqe can you check that this issue is now corrected. It is already pushed to master since this bug correction was pushed at the same time than pushing general documentation which was asked by more and more people.

[2018-02-22 12:28] bmesnet commented on #619
Is it feasible to let the user select one of these 2 options depending on his needs : more space or more bandwidth?

[2018-02-22 12:32] bmesnet commented on #607
We use `~snap/hardware/sim/run_sim` script to run the xsim simulator. Is there a way to add in that script the gui option to display the waveform during the simulation ?

[2018-02-22 13:24] boekholt commented on #612
Please close this issue if pull request #631 does solve it.

[2018-02-22 14:30] joergkayser commented on #607
I tried in run_sim to pass the argument -gui to xsim, but in this case the Vivado GUI is opened for the simulator, it opens the IP socket for PSLSE, but doesn't pass control back to run_sim to start PSLSE.
This means, no xterm appears, in which we can pass our applications.
No easy solution, on how to start the batch execution AND start the GUI

[2018-02-26 09:16] ThomasFuchs commented on #615
Fix is in master

[2018-02-27 16:34] acastellane opened #646 ""make software" doesn't read snap_env.sh variables"
hi,
when we are in XXX/snap and we have XXX/pslse set by default the make software will find the pslse directory even if the variable PSLSE_ROOT is not available (because of the default)
But when variable PSLSE_ROOT is not set AND pslse is not in the default location, it is not found.

A message occurs informing that pslse is not found at XXX/pslse.

Software Makefile content :
ifndef PSLSE_ROOT
/

[2018-02-28 08:01] ThomasFuchs opened #648 "PR_FLOW: missing Makefile in hdl_nvme_example"
hdl_nvme_example test fails in PR_FLOW with the following message:
[CONFIG ACTION HW....] start 21:47:46 Tue Feb 27 2018
Calling make -C ../snap/actions/hdl_nvme_example hw
make[3]: *** No rule to make target `vhdl'.

[2018-02-28 09:37] ThomasFuchs commented on #597
Issue was due to export_simulation.tcl script, fixed in 2018.1
created Answer Record 70597 to fix it in 2017.4

[2018-02-28 09:37] #597 closed

[2018-02-28 09:41] ThomasFuchs commented on #613
From Xilinx:
Hi Thomas, Joerg,

The reason that the action_wrapper is not showing the full hierarchy structure is because it has been set as a Partial Reconfiguration module. You can remove this either using the GUI or tcl commands e.g.

delete_reconfig_modules -merge sources_1 [get_reconfig_modules user_action]
delete_pr_configurations config_1
update_compile_order -fileset sim_1

Let me know if

[2018-02-28 09:41] #613 closed

[2018-02-28 09:43] ThomasFuchs commented on #595
From Xilinx:
After been in contact with Development regarding this particular, it seems that it is related to existing CRs, CR-988476 and CR-986318, which were related to an issue with the Pblock algorithm that checks for containment. These have been fixed in 2018.1.

[2018-02-28 10:59] boekholt commented on #648
@ThomasFuchs Should be fixed with #650.
Please close this issue if the fix resolves the problem.

[2018-02-28 14:13] boekholt commented on #630
@bmesnet
Hi Bruno, Thomas and me looked into this and, it looks like this is an hls_memcopy problem. We see that the read operation from host memory completes successfully. Then the action wants to send data back to host memory. It raises AWVALID on the AXI interface and gets AWREADY as response. Then it should transfer the data but the data does not show up at WDATA and WVALID does not raise.

Gi

[2018-02-28 15:19] acastellane opened #651 "X86 vs Power libcxl Library compilation"
Issue :
Assume you're using the exact same working directory for a project (say cloud /data located snap directory) and moving from development to deployment, back and forth.
Should you want to use the tools or the snap applications on Power, they need recompilation. Running a "make" will lead you to an error as libcxl library is seen as already compiled in x86 mode.
Assume you don't want to loose

[2018-02-28 15:43] boekholt commented on #651
So, you are using the same directories on Power and on x86?
How do you do that?

[2018-02-28 15:51] #501 closed

[2018-02-28 20:46] acastellane commented on #651
As mentioned in my issue description with Nimbix, we can share /data folder between instances.
Thanks

[2018-03-01 10:01] bmesnet commented on #630
This is the hls_memcpy issue I already face earlier when number of bytes are lower than 1 word. Trying to isolate the issue and propose a patch asap.

[2018-03-01 11:08] ibm-genwqe commented on #615
Fixed: Thanks
-------------------------------------
Iteration 1 of 1 Drive SSD1
Testing in Polling mode
NVME Test: Snap Card: /dev/cxl/afu0.0s Timeout: 1 sec NVME Drive: 1 Handle: 0x10003280010
Host: 0x10003282000 / 0x10003283000 DDR: 0x0 / 0x200
    Drive: 1 Size: 0x200 Addr: 0x0 LB: 1 (0x1) BS: 512 (0x200)

        DDR <- HOST
        NVME <- DDR
        DDR <- NVME
        HOST <- DDR
      Com

[2018-03-01 11:08] #615 closed

[2018-03-01 13:20] #648 closed

[2018-03-01 13:46] jsvogt commented on #607
Feedback from Xilinx: You can't start the waveform GUI after starting the simulation. Xilinx has no plan to get this fixed. @bmesnet Please close

[2018-03-01 13:53] bmesnet commented on #607
ok good to know. Thx. So the only solution as of today, is then to open the simulator to look to the waveform **after** the simulation is completed and exited.

[2018-03-01 13:53] #607 closed

[2018-03-01 13:59] jsvogt commented on #321
We added Semptian NSA121B and Alpha-Data 8K5, but decided, not to add 7V3.

[2018-03-01 13:59] #321 closed

[2018-03-01 14:05] jsvogt commented on #420
@luyong6 Please check if this issue was fixed by pull request #574.

[2018-03-01 14:14] jsvogt commented on #341
Xterm is listed in the readme now. Is this good enough, so we can close this?

[2018-03-01 14:20] jsvogt commented on #273
By default the latest Vivado should be ok for HLS as well. For the short times when a newer HLS is required, there is a workaround to compile the HLS files manually before starting the snap framework build process.
=> rejecting this change request

[2018-03-01 14:20] #273 closed

[2018-03-01 14:24] jsvogt commented on #165
No plan to fix this. For CAPI 2.0, we currently support 128 byte writes only. Revisit when CAPI 2.0 DMA byte alignment is on the table again.

[2018-03-01 14:24] #165 closed

[2018-03-01 14:34] ibm-genwqe commented on #632
The Size in this Test for CAPI 2.0 on P9 must be a multiple of 128 bytes. Please set -b to n*128 and not 448.

[2018-03-01 14:37] ibm-genwqe commented on #628
HLS Hash join did pass Jenkins Testing
-------------
 8088 entries for T2 ... ok
  123123 entries for T2 ... ok
Test OK
RUN: ./actions/hls_hashjoin/tests/test_0x10141002.sh -C 1 -d NORMAL on ADKU3[1] Done RC=0
Wed Feb 28 13:23:05 CET 2018 Image Test on Accel: ADKU3 was executed 1 time(s)
Wed Feb 28 13:23:06 CET 2018

[2018-03-01 14:37] #628 closed

[2018-03-01 15:49] boekholt commented on #646
Before it may be used, the file `$(snap_env_sh)` needs to be created. In the regular flow this requires that `snap_conifg.sh` does exist. So far, software build was independent of that. We could add the sourcing of `$(snap_env_sh)` directly in the `PSLSE_ROOT` definition section of `software/Makefile` in the case that `PSLSE_ROOT` is not yet defined while `$(snap_env_sh)` is existing - then a chec

[2018-03-01 19:57] bmesnet opened #652 "CR-1006181: HLS memcpy function doesn't handle correctly write of small number of packets (fixed in HLS 2018.3)"
Old bug refered in #320 but hidden by circumvention used until now.
Need to localize exact case of failure to open an SR to Xilinx
Meanwhile putting back the **circumvention** which works in all cases:

[code]

        switch (memory_type) {
        case SNAP_ADDRTYPE_HOST_DRAM:
                // Patch to the issue# - memcopy doesn't handle small packets
                //memcpy((snap_membus_t  *

[2018-03-02 06:45] luyong6 commented on #420
I rebuilt a hls_sponge and Today on 8a967b947f657e45a1f52f32e31a0e7799c7c1c5
and the above issue was solved perfectly.
This issue can be closed.

[2018-03-02 06:45] #420 closed

[2018-03-02 10:24] ThomasFuchs commented on #596
NVME simulation runs fine with 2017.4 and 2016.4 in the current master branch

[2018-03-02 10:24] #596 closed

[2018-03-02 11:28] boekholt commented on #630
#653 does solve the issue.

[2018-03-02 11:28] #630 closed

[2018-03-05 08:36] luyong6 opened #656 "Support simulation in Modelsim"
Hi
To make the SNAP more easy to use, do we consider to support Modelsim for simulation?
Many universities and academic instituions prefer to use Modelsim as their simulation tool and want to use their familiar scripts and facilities.

[2018-03-05 09:24] joergkayser commented on #656
For this discussion we need some more information:
the free version modelsim or the licensed version questa ? Which version of modelsim ?
And I assume, modelsim is not just the product from Mentor Graphics, but also delivered with some other development suites. We definetely should concentrate on simulators, which are supported by Vivado (currently using version 2017.4)

[2018-03-05 09:50] jsvogt commented on #619
I don't think we need all combinations (driving someone mad).
IMHO the most important option is a) : Provide the full DRAM size, more bandwidth as well. Let the AXI interconnect handle the AXI routing to one of the (2-4) MIGs.
Option b) doesn't really give more benefits, just a little more control.
Testing all "little complex" combinations will be a nightmare without much added customer value.

=>

[2018-03-05 10:07] hsukiang commented on #656
The university partner that I supported uses the full license for ModelSim. I have been using Xilinx's license from an academic partner to do my testing for Vivado / SDAccel tools. I am currently upgrading my tools to 2017.4 so that I can get acquainted with XSIM.

[2018-03-05 14:31] ThomasFuchs opened #658 "hls_search: bad timing on all cards"
Hi,
I am not able to build hls_search example images, because the timing is really bad. Please have a look:

A complete FPGA bitstream build got kicked off.
This might take more than an hour depending on the machine used
The process may be terminated by pressing <CTRL>-C at any time.
After termination it can be restarted later.

                        patching SNAP version and build date register

[2018-03-05 14:33] ThomasFuchs opened #659 "hls_intersect: bad timing on all cards"
Hi,
I am not able to build hls_intersect example images, because the timing is really bad. Please have a look:

A complete FPGA bitstream build got kicked off.
This might take more than an hour depending on the machine used
The process may be terminated by pressing <CTRL>-C at any time.
After termination it can be restarted later.

                        patching SNAP version and build date regis

[2018-03-05 15:02] luyong6 commented on #658
All cards?
Which card for this case?
This WNS is a little terrible. Something must be wrong.

[2018-03-05 16:29] joergkayser commented on #656
@hsukiang Which version of Modelsim is your university partner using ? I need to check, if we have licenses and if Vivado supports this version.

[2018-03-06 03:58] hsukiang commented on #656
@joergkayser They have adopted ModelSim 10.4b recently. Thank you.

[2018-03-06 08:29] joergkayser commented on #656
The IBM systems installations I know are
Altera Modelsim-ASE versions 13.0, 13.1, 14.02, 15.0, 15.1 (CTE installation dated 2015)
Mentor Modelsim SE versions 5.8c, 6.0a, 6.2h, 6.3g, 6.6b (CTE installation dated 2010)
Mentor Questa version 10.2b (local installation dated 2013)
The Mentor release letter advertises Modelsim SE/PE/DE version 10.6d
Which version stream should we follow ?

[2018-03-06 13:33] joergkayser opened #665 "N250SP+hdl_example: intermittend SIM error with snap_example -a6 -S20 -B20 -A4096"
see
/afs/bb/proj/fpga/framework/CI_ws/SNAP_SIM_matrix/n250sp_testlist/ACT/hdl_example.SDRAM/CRD/N250SP/SIM/irun/VIV/2017.4/snap/hardware/sim

[2018-03-06 14:12] joergkayser commented on #665
also fails within 5 loops in
snap_example -a6 -S20 -A4096
snap_example -a6 -S10 -A1024
snap_example -a6 -S10 -A128
snap_example -a6 -S4   -A128
and within 10 loops in
snap_example -a6 -S2 -A128
snap_example -a6 -S1 -A4096

[2018-03-06 14:14] joergkayser commented on #665
00000000: 00 00 00 00 ff ff ff ff 08 00 00 00 f7 ff ff ff | ................
 00000010: 10 00 00 00 ef ff ff ff 18 00 00 00 e7 ff ff ff | ................
 00000020: 20 00 00 00 df ff ff ff 28 00 00 00 d7 ff ff ff | ................
 00000030: 30 00 00 00 cf ff ff ff 38 00 00 00 c7 ff ff ff | 0.......8.......
 00000040: 40 00 00 00 bf ff ff ff 48 00 00 00 b7 ff ff ff | ........H.......
 00000050:

[2018-03-06 14:21] joergkayser commented on #665
snap_example -a2 -S1 -A128 fails as well, similar symptom (second byte at buffer begin is wrong)

[2018-03-07 07:27] hsukiang commented on #656
We found that the free version (SE) has limitation with the number of executable lines of code. Due to this, we installed the AE edition that requires license. The university uses academic license for that.
In IBM case, we should follow the ASE stream of the latest release installed. The AE and ASE are both "Altera" Edition, with the ASE performance being limited. If we can get ASE working, we sho

[2018-03-07 13:30] joergkayser commented on #665
The yesterdays data was deleted by mistake, and the recreate today was not succesful with very small data or just host access (-a2 -S1)
However, I was able to recreate it in loop=4 with
for i in {1..5};do echo "loop $i";snap_example -a6 -S8 -B2 -A128 -t200 -v||break;done

see  /afs/bb/proj/fpga/framework/CI_ws/SNAP_SIM_matrix/n250sp_testlist/ACT/hdl_example.SDRAM/CRD/N250SP/SIM/irun/VIV/2017.4/sna

[2018-03-07 15:30] joergkayser opened #668 "SNAP: how to copy directories and still be able to compile/simulate"
When a model is built and simulated in dir1, we may want to copy this to dir2 in order to
- continue some debug
- save the environment for a service request
At least two places remember the file locations from dir1:
- snap/snap_env.sh uses PSLSE_ROOT, and this needs to change to dir2/pslse
- snap/hardware/sim/ies/INCA_libs/<some irun path>/cdsrun.lib shows a relative path to ies_libs

Some first t

[2018-03-07 16:15] joergkayser commented on #665
the error case was copied from CI_ws to a seperate debug directory and fails in the first loop
see /afs/bb/proj/fpga/framework/debug/xx/snap/hardware/sim/ies/20180307_171234

[2018-03-08 08:36] luyong6 commented on #656
Lance said XXXX client routinely uses mentor graphics questa.

[2018-03-08 11:30] joergkayser commented on #665
recreated with stim.log and mismatch memcopy map in
/afs/bb/proj/fpga/framework/debug/xx/snap/hardware/sim/ies/20180308_122829
cmd= for i in {1..5};do echo "loop $i";snap_example -a2 -S1 -B8 -A128 -t200 -vvvv||break;done

[2018-03-09 09:24] ThomasFuchs commented on #665
This was a problem with the write buffer read address handling in dma_fsm_q. Fix is in #672

[2018-03-09 09:26] #341 closed

[2018-03-12 11:02] joergkayser commented on #665
problem still exixsts with the latest code from #7383b9a7 ("Config: Reverting incorrect change of FPGACHIP for N250SP" )
Model copied with ../common/copy_debug
from  /afs/bb/proj/fpga/framework/CI_ws/SNAP_SIM_matrix/Issue_665/ACT/hdl_example.SDRAM/CRD/N250SP/SIM/irun/VIV/2017.4
to  ../debug/issue_665_part2
and reproduced with AET and snap_example -a2 -S20 -B28 -A128
see /afs/bb/proj/fpga/framework

[2018-03-12 14:14] joergkayser commented on #668
Please test <FRAMEWORK_ROOT>/common/copy_debug <source> <destination>, where
<source> is the (absolute) source directory, e.g. /afs/bb/proj/fpga/framework/CI_ws/SNAP_SIM_matrix/Issue_665/ACT/hdl_example.SDRAM/CRD/N250SP/SIM/irun/VIV/2017.4
<destination> is the (relative) subdirectory under  /afs/bb/proj/fpga/framework/debug, e.g. issue665

snap_env and cds.lib are modified such, that the available

[2018-03-13 14:56] joergkayser commented on #665
previous problem (DMA ?) doesnt exist anymore, and we now fail at a later point in the testlist with snap_example_set -H -b0 -s128 -p128 -t306 -vvv
This is due to data being moved by 16B and xferred via DMA. Investigations ongoing, why this breaks and how to rewrite the test to make it pass.

[2018-03-14 08:29] joergkayser commented on #665
After some SW tweaking we still fail in snap_example_set -H -b0 -s128 -p128 -t306 -vvv
with
Start Memset Test. Timeout: 306 sec Device: INFO:Connecting to host 'hdcl070.boeblingen.de.ibm.com' port 16384
D   hw_snap_card_alloc_dev: errinfo_size: 1 VendorID: 1014 DeviceID: 632
D hw_snap_card_alloc_dev Exit 0x1183010 OK Context: 0 Master: 0
/dev/cxl/afu0.0s
D   hw_card_ioctl Get MEM: 8192 MB
Allocate

[2018-03-15 09:31] bmesnet commented on #658
@ThomasFuchs I'm working on it on a separate branch "HLS_search_update". I did some cleaning and have some good results. I will tell you when this can be tested Not everything is pull up yet in github

[2018-03-15 14:04] joergkayser commented on #668
works fine, I am using it regularly

[2018-03-15 14:04] #668 closed

[2018-03-15 14:05] joergkayser commented on #665
works fine now, included in branch Issue_665

[2018-03-15 14:05] #665 closed

[2018-03-15 14:06] joergkayser commented on #632
works now. Fix is in branch=Issue_665

[2018-03-15 14:06] #632 closed

[2018-03-15 15:41] boekholt commented on #646
The solution got merged into master 10 days ago.
I am closing this issue now.
Please reopen if the solution does not meet the requirements.

[2018-03-15 15:41] #646 closed

[2018-03-15 15:44] joergkayser commented on #612
no issues with N250SP anymore

[2018-03-15 15:44] #612 closed

[2018-03-15 15:48] joergkayser commented on #584
todo: validate with Vivado 2018.1

[2018-03-15 20:08] bmesnet commented on #658
@ThomasFuchs  #680 pull request should solve your timing issue. Let jenkins see if that's ok on this branch

[2018-03-16 12:43] bmesnet commented on #658
Pullrequest#680 merged to master

[2018-03-16 13:30] joergkayser opened #682 "HLS_search_update: 2nd call to hls_search fails with timeout on all configurations"
action was ok until March 15, error was introduced with branch=HLS_search_update and now seen in master as well
AET see  /afs/bb/proj/fpga/framework/debug/issues_search_irun/snap/hardware/sim/ies/20180316_141612/

[2018-03-16 15:38] bmesnet commented on #682
This problem is due to a change I did in the application to **enable the interrupt mode by default** (like all other examples - changing the -X option by -N option).
The way IRQ are coded in the code is identical than the way it is done on other examples (hls_memcopy for example), the only specific thing in this hls_search is that we are using `snap_queue_alloc` instead of typical `snap_attach_act

[2018-03-16 16:06] bmesnet commented on #658
Issue #682 found after merge is independent of this timing issue

[2018-03-19 13:57] joergkayser opened #686 "hls_helloworld sim error on N250SP"
Our default text "Hello world. This is my first CAPI SNAP experience. It's real fun!" is 67B long and gets translated to uppercase fine on most cards.
On N250SP the xlation of the first 64B works, but the rest is wrong.
When trying to send a short text, the simulation fails with a core dump

Results incl waveforms can be seen in /afs/bb/proj/fpga/framework/debug/helloworld/snap/hardware/sim/ies/20

[2018-03-19 17:56] bmesnet commented on #686
On afs, when trying to build the model, i get an error since the dcp file doesn't exist, so I'm not able to reproduce the issue. Indeed the dcp file is not at the default path used by SNAP, but why should this file be needed when just building the model ?

[2018-03-20 08:37] boekholt commented on #686
@bmesnet The PSL DCP file is not required for simulation. But, if the environment variable `PSL_DCP` is defined, that path is checked. If you want to build a model and run simulation w/o a valid DCP you should remove (comment out) the definition of `PSL_DCP` from `snap_env.sh`. Another option would be to add the following line to `snap_env.sh`:
[code]
That way you will even be able to build an FPG

[2018-03-20 14:38] ThomasFuchs commented on #658
Timing looks pretty good for hls_search now

[2018-03-20 14:38] #658 closed

[2018-03-20 15:14] joergkayser commented on #682
@fhaverkamp can you comment, if the use of  snap_queue_alloc instead of typical snap_attach_action can cause the missing MMIO to 0x1000 ? Is this the "LLCMD START" ? If yes, then this missing start will confuse the hardware.

[2018-03-20 15:16] joergkayser commented on #686
@bmesnet the N250SP currently only supports DMA transfers with multiples of 128B. Is the helloworld string xferred with DMA ? If yes, we would like to postpone and disable this action, until other transfers are supported.

[2018-03-20 15:20] bmesnet commented on #686
Yes correct  the hello world string is transferred through the DMA

[2018-03-20 17:01] joergkayser commented on #686
We disable helloworld on N250SP for the moment and look at this again, when N250SP allows DMA transfers other than 128B

[2018-03-20 17:05] joergkayser commented on #593
SR10425632 has been closed due to inactivity on our side. The error still occus with target_language=VHDL, but we have a viable solution by using target_language=VERILOG.
@ThomasFuchs please decide, whether the ticket should be closed or more debug should happen

[2018-03-20 21:08] bmesnet commented on #686
If this helps, using a 128B aligned text may help you getting your test successful ;-)

[2018-03-21 09:58] jsvogt commented on #526
Need more information, such as a users guide, from the manufacturer which specifies how the multiboot scenario must be implemented.

Which Flash page does the card boot from by default (address 0, factory image?). Then how does it expect the bitstream image to switch to the user image?
What are the addresses, and which multiboot method is required?
Is that the scenario described in figure 2 of htt

[2018-03-26 11:57] fhaverkamp commented on #682
@joergkayser The snap_queue_alloc should normally not do things differently. Since we did not implement a real queue, we just offer the interface, but what it does should be really the the same as if we use the other interface. LLCMD is done in the Linux driver, such that we do not really see this in our traces.

I think we might like to review the code anyways to see if everything is correctly im

[2018-03-27 15:10] #511 closed

[2018-03-29 12:53] bmesnet commented on #682
@joergkayser Let me know if you want me to do more tests.
Looking closer to the Trace, would the value read at address 1008 when doing the `hw_detach_action` help narrowing to the issue? Why are they different ? I'm missing how to read all bits.

Thx

[2018-04-04 09:48] ibm-genwqe opened #711 "SNAP Action: Support for N250SP"
N250SP Card can only handle data on 128 Bytes Alignment and 128 Byte Chunks. Change Test tools and scripts.

[2018-04-04 16:11] joergkayser commented on #656
@luyong6 @hsukiang please checkout branch=questa_trial and try to use questa on a model of your choice.
I made following observations:
- Vivado 2017.4 checks the questa version, before compiling the libraries. It wants questa 10.6, and this is not available on our site.
- Vivado 2016.4 does not check the questa version, and I tried to compile the simulation libraries with Questa 10.2 and failed wi

[2018-04-09 12:06] joergkayser opened #715 "N250SP Simulation works with snap_example_set -b11, supposed to fail"
When we test N250SP, we assume, that (up to now) only multiples and alignments of 128B are supported.
But sim testcases also run with snap_example_set -F/-H -b11.
Please look into /afs/bb/proj/fpga/framework/debug/n250sp-set-b11/snap/hardware/sim/ies/20180409_135509 and let us know, how this can work, and why simulation works different from actual hardware test.

If needed, I can also shorten the

[2018-04-09 12:31] ThomasFuchs commented on #715
In sim the first 11 bytes are undefined (see picture). It looks to me, that PSLSE is not able to handle such a case correctly.

![image](https://user-images.githubusercontent.com/17316449/38497578-e4000328-3c01-11e8-8c01-c7c16818abbe.png)

[2018-04-09 12:43] joergkayser commented on #715
No, it is the other way around... Sim works, and so PSLSE may interpret 11 Bytes of 'undefined' as '0', and there is no good check in the testcase, that wrong data has been written.
@ibm-genwqe can you please check, what snap_example_set does to prove, that it has written the correct data ?

[2018-04-09 13:44] ibm-genwqe commented on #711
merged into master

[2018-04-09 13:44] #711 closed

[2018-04-09 13:45] ibm-genwqe opened #717 "SNAP SW: Add DMA size and Align"
Add support for SCaR Register to detect DMA Alignment and Size.

[2018-04-10 08:22] luyong6 opened #720 "Simulation with XSIM and a coredump in the end"
When using **XSIM**,
There is a coredump after the simulation is done,  shown as following in the screencopy.
I tested both hls_helloworld and hls_bfs, they both have the same problem.
It may not harm but still annoying.
![default](https://user-images.githubusercontent.com/23333783/38544908-56946c92-3cdb-11e8-8c66-c31af7f4eb77.png)
![default](https://user-images.githubusercontent.com/23333783/3854

[2018-04-11 07:57] luyong6 commented on #656
Hi Joerg, Thank you very much. I will ask a university partner to test it.

[2018-04-13 09:12] ibm-genwqe commented on #717
Closed

[2018-04-13 09:12] #717 closed

[2018-04-16 13:16] joergkayser commented on #682
Please see /afs/bb/proj/fpga/framework/debug/issues_search_irun/snap/hardware/sim/ies/20180416_151015/*.log for a test with PSLSE DEBUG and application SNAP_TRACE enabled.
How cen we proceed the debug from here ?

[2018-04-16 14:35] joergkayser commented on #715
New AET with PSLSE trace and SNAP_TRACE see /afs/bb/proj/fpga/framework/debug/n250sp-set-b11/snap/hardware/sim/20180416_163047

[2018-04-17 15:17] boekholt commented on #682
The problem is in start step 3 (see Bruno's comment above):
[code]
Here the last sequence number is set to f002 while the current sequence number is f001 (since at that point no job is active that means that the job with sequence number f001 is the next one to be executed). So, the job manager thinks that two jobs got enqued. Therefore, the job manager does not give back the action after completio

[2018-04-18 06:58] joergkayser commented on #715
The state 'undefined' was interpreted by PSLSE as 0xFF, which was the default 'uninitialized' pattern in the testcase. After changing the default pattern to 0xE5, the testcase fails as expected, and we should have a somewhat better test coverage in the future.

[2018-04-18 06:58] #715 closed

[2018-04-18 08:43] joergkayser opened #726 "cloud doesnt open GUI with 'make snap_config'"
When following the README guidelines in "SNAP-DESKTOP V0.1.1", the step 'make snap_config' fails to open the GUI, when $SIMULATOR is not defined. We missed this bug in regression, as we always define $SIMULATOR.
The bug can be fixed by changing snap_env line 151 from $SIMULATOR to "$SIMULATOR" to prevent having a unary operator.

[2018-04-18 12:13] boekholt commented on #726
Fix is in pull request #727

[2018-04-18 12:31] jsvogt commented on #526
@luyong6 Did you get the information from the card manufacturer by chance?

[2018-04-19 06:03] luyong6 commented on #526
Hi the partition is similar to 8k5, 64MB

Because they are Ku115 and the image size may be doubted (compared to Ku060)

I have something not clear, the logic in PSL. Let me write in a separate email.

已从 IBM Verse 发送

   Joerg-Stephan Vogt --- Re: [open-power/snap] MCS build: add Semptian NSA121B partition addresses (#526) ---
    发件人："Joerg-Stephan Vogt" <notifications@github.com>收件人："open-power/

[2018-04-19 15:55] joergkayser opened #729 "VIV2018 + xcelium: snap_maint hangs in unlock_action"
export SNAP_TRACE=0xFF
hdcl070: jkayser /afs/bb/proj/fpga/framework/jkayser/snap_modelsim/hardware/sim/ies/20180419_175200 $ snap_maint -vvv
[main] Enter
[snap_open] Enter: /dev/cxl/afu0.0m
D hw_snap_card_alloc_dev Enter /dev/cxl/afu0.0m
INFO:Connecting to host 'hdcl070.boeblingen.de.ibm.com' port 16384
D   hw_snap_card_alloc_dev: errinfo_size: 1 VendorID: ffff DeviceID: ffff
D hw_snap_card_alloc_

[2018-04-20 07:02] boekholt commented on #682
I changed the behavior of the job manager. It is now in "direct access mode" no longer taking the job sequence number into account (pull request #730).
This change is fixing this issue.
But, maybe we should review the sequence number handling of the snap library.

[2018-04-20 09:06] ibm-genwqe commented on #729
Accessing SNAP_ACTION_ID_REG (Offset 0x10) is not returning to software:

[code]

[2018-04-20 09:08] joergkayser commented on #682
This fixes our problem. Thanks

[2018-04-20 09:08] #682 closed

[2018-04-20 09:10] joergkayser commented on #726
This works in our 'cloud regression'. @kenhill  Will you pick this as well ?

[2018-04-20 09:10] bmesnet commented on #682
Great job guys. Thx

[2018-04-20 11:52] joergkayser commented on #729
@ThomasFuchs can you please check, why the access to the action is not working ?
Please note, that this is first of a kind testing with Viv2018.1 and Xcelium 17. 10.002
Your setup can be made with 'ibm_snappings_for_snap xcelium'

[2018-04-24 12:54] joergkayser opened #731 "Vivado 2018.1 + N250SP + hls_sponge: action compilation fails"
make model fails with
[CONFIG ACTION HW....] start 14:47:41 Tue Apr 24 2018
grep: hlsSponge_xcku15p-ffva1156-2-i/sponge/syn/vhdl/hls_action_ctrl_reg_s_axi.vhd: No such file or directory
make[5]: *** [check] Error 1
make[4]: *** [hw] Error 1
make[3]: *** [action_hw] Error 2
make[2]: *** [.hw_project_done] Error 2
make[1]: *** [model] Error 2
make: *** [model] Error 1

make -C actions/hls_sponge fai

[2018-04-24 15:53] bmesnet commented on #731
This is directly generated by HLS depending on the name we give in the code.
Can you try doing a `make` from the actions/hls_sponge/hw directory? This should be giving more information about the failure

[2018-04-24 15:58] bmesnet commented on #731
hmm your log is showing:

[2018-04-24 16:16] joergkayser commented on #731
"make -C actions/hls_sponge/hw clean all"     ran fine without problems.
But FPGACHIP should net be a hard definition in the actions subdirectory, as this is dependent on the card used and should com from make snap_config and its output files.
For N250SP it is xcku15p-ffva1156-2-i

[2018-04-25 06:46] joergkayser commented on #726
waiting for the next $CLOUD_BRANCH, this is still 1.4.1 and does not contain a fix yet

[2018-04-25 07:15] joergkayser commented on #729
@ThomasFuchs  any updates on this ?
error repeated in /afs/bb/proj/fpga/framework/jkayser/snap_modelsim/hardware/sim/xcelium/20180425_091253

[2018-04-27 08:16] joergkayser commented on #731
There are also some warnings during action compile:
WARNING: [SCHED 204-21] Estimated clock period (4.1062ns) exceeds the target (target clock period: 4ns, clock uncertainty: 0.5ns, effective delay budget: 3.5ns).
WARNING: [SCHED 204-21] The critical path consists of the following:
	'call' operation ('l', action_sponge.cpp:77) to 'test_hexdigit' (3.34 ns)
	'add' operation ('tmp_18', action_sponge.

[2018-04-30 07:25] joergkayser commented on #729
the action did not exist due to a bug in the path settings. Fixed

[2018-04-30 07:25] #729 closed

[2018-05-09 15:35] luyong6 opened #735 "Set FPGACHIP for standalone "make" in action/hls_xxxx/hw"
Hi Sven, Frank,

There is a small problem. When I select a card of S121B in `make snap_config`
For the first time, `make model` is OK.

But when I keep modifying the HLS code, I may need many iterations to compile the HLS CPP code.
Compared to "make model" which also creates IPs,  "make" under `actions/hls_xxxx/hw` directory takes less time.

In `make model` process, it correctly creates run_hls_s

[2018-05-09 15:40] luyong6 commented on #735
Add @bmesnet

[2018-05-09 16:13] bmesnet commented on #735
Correct. Issue also reported by Joerg in issue #731

[2018-05-09 17:34] bmesnet commented on #735
@luyong6 You need to manually change the FPGA type in hls.mk so that
`#FPGACHIP    ?= xcku060-ffva1156-2-e        --- all KU060 chips`
`FPGACHIP    ?= xcvu9p-flgb2104-2l-e-es1    -- VU9P chip`
`PART_NUMBER ?= $(FPGACHIP)`
Do a `make clean` in the hls_xxx/hw directory and a new `make` should generate a `run_hls_script.tcl `with correct `open_project `and  `set_part` statement

But yes, you are corr

[2018-05-15 11:33] fhaverkamp opened #736 "NVMe: High-level model for SNAP NVMe Support"
Instead of using the denali model to simulate NVMe traffic, we like to have a high-level model which allows quick verification of NVMe based SNAP actions.

[2018-05-15 11:35] fhaverkamp commented on #736
Here is my initial model. It allows read/write to NVMe blocks (512 bytes). It stores/reads from files, such that the data can be made persistent. It only works in simulation.
There is still some TODO work to be solved e.g. supporting multiple operations in parallel (max 16).

You can find a snapshot here:
* https://github.com/open-power/snap/tree/verilog_NMVe_model

[2018-05-15 11:36] fhaverkamp commented on #736
@ThomasFuchs Sven mentioned that there might be some more streamlining needed regarding how to configure this feature. Please talk to him, such that we can figure out what we need to do prior merging this work.

[2018-05-16 12:16] fhaverkamp commented on #736
Reworked merge request:
* https://github.com/open-power/snap/pull/738

[2018-05-16 12:32] fhaverkamp opened #739 "NVMe: High-level model for SNAP NVMe Support multiple operations in parallel"
The high-level model should support multiple (16) reads/writes in parallel, just like the real system does. To implement this, we need to add some more parallelism to the model, such that requests get their individual status and card DDR access is sequentialised and AXI requests on the DDR bus get done after each other.

Estimated time to implement this: 2PWs.

[2018-05-17 02:29] luyong6 commented on #735
Shall I just comment `FPGACHIP ?= xcvu9p-flgb2104-2l-e-es1` in hls.mk and submit a pull request?

[2018-05-17 05:50] bmesnet commented on #735
well this works  but may need some tests.
One thing that may not work is when you get out of a `make clean `and if you try to do a `make `from the action_hw directory, but if you do a `make model/sim/image `from the snap directory it works ok

[2018-06-07 12:55] joergkayser commented on #726
The SNAP_DESKTOP v0.1.1 still uses $CLOUD_BRANCH=1.4.1, and snap_env line 151 fails and the GUI cannot be opened, see above description.
Please fix as described above. Thanks

[2018-06-07 13:14] joergkayser commented on #731
problem fixed

[2018-06-07 13:14] #731 closed

[2018-06-07 13:20] joergkayser commented on #656
modelsim + questa + xcelium are supported since a while. Closing this ticket. Please note, that we do not use modelsim ourselves. Please reopen or open a new ticket, if any of this features are not good enough for external use.

[2018-06-07 13:20] #656 closed

[2018-06-12 13:05] boekholt opened #748 "NVMe high level model - review findings"
Comments gathered during review of [nvme_top_i.sv](https://github.com/open-power/snap/blob/master/hardware/sim/nvme_lite/nvme_top_i.sv):
* Handling of error conditions for NVMe read and write operations is missing.
* Is it possible to remove the `#1` operation at the end of tasks `nvme_cmd_read` and `nvme_cmd_write?
* Should we remove the unused task `ddr_axi_test`?
* Is task `axi_ddr_reset` requi

[2018-06-14 18:19] kenhill commented on #726
@joergkayser, sorry for the delay. SNAP_DESKTOP v1.0.2 uses SNAP v1.4.2.

Is this still a problem?

[2018-06-18 12:02] joergkayser commented on #726
@kenhill SNAP v1.4.2 incorporates the fix #727 from @boekholt. When I call https://platform.jarvice.com, then I see SNAP_DESKTOP v0.1.1(408985), which sets the environment variable SNAP_DEV_RELEASE=V0.1.1
How can I upgrade SNAP_DESKTOP from v0.1.1 to v1.0.2 ?

[2018-06-18 20:55] kenhill commented on #726
@joergkayser not sure why see the older version. Can you try the new portal: https://mc.jarvice.com

The apps should be public under the `Compute` tab.

[2018-06-20 09:13] bmesnet commented on #652
More investigation done on the issue:
The problem is clearly identified as using HLS **memcpy** function to **write** a number of bytes **smaller** than the port data width. Problem addressed to Xilinx.

Our port to DDR or Host memories is always 64Bytes in SNAP.
Reading for example 1 Byte can be done with a fix value or a parameter. In both cases it works ok:
With SIZE_WORD defined to 512 and xfe

[2018-06-22 10:06] joergkayser commented on #726
The todays Login finally shows SNAP_DESKTOP v1.0.2 and uses CLOUD_BRANCH v1.4.2, which solves this problem. Thanks

[2018-06-22 10:06] #726 closed

[2018-06-25 14:57] boekholt opened #755 "hls_sponge action build fails for xcku15p"
When building for `xcku15p-ffva1156-2-i` HLS build for hls_sponge creates the log file message
[code]
This leads to a build fail with target `check` in `actions/hls.mk`.

[2018-06-26 15:45] johanpel opened #756 "Integrate AXI protocol checkers"
There is Xilinx IP that checks for violations of the AXI protocol on a bus: https://www.xilinx.com/products/intellectual-property/axi_protocol_checker.html

When designing a HDL core through SNAP it might be useful to insert this protocol checker on the action AXI interface (probably during simulation only).

Obviously a designer can do this inside an action design but I thought it would be a nice